section {
  min-height: 80px;
  margin-bottom: 1em; }

.tabbable > .nav-tabs a {
  cursor: pointer; }

.tabbable > .nav-tabs > li.active a {
  background-color: #f7f7f7; }

.tab-pane {
  border: 1px solid #ddd;
  border-top: none; }
