.analog-electronic-simulation-result-details {

    .no-inspectable-message {
        text-align: center;
        padding-bottom: 15px;
        font-style: italic;
    }

    .details-container {

        &.ng-enter
        {
            -webkit-transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
            -moz-transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
            -ms-transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
            -o-transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
            transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
            position: relative;
            display: block;
        }

        &.ng-enter.ng-enter-active {
            opacity: 1;
            top: 0;
            height: auto;
        }

        &.ng-enter {
            opacity: 0;
            top: -50px;
            height: 0px;
        }

        .result-detail-description {
            display: block;
            padding-left: 15px;
            margin-top: 2px;
        }

        .signal-table-container {

            display: inline-block;
            vertical-align: top;
            margin-left: 12px;
            font-size: 12px;

            .inspected-signal-row {

                .display-cell {
                    text-align: center;
                }

                .hide-show-signal-box {

                    margin: 0;

                    .md-icon {
                        /*background-color: #0d47a1;*/
                        background-color: transparent;
                    }

                    .md-label {
                        display: none;
                    }

                }

                .pin-signal-container {

                    text-align: center;
                    position: relative;
                    top: 0.2ex;

                    .pin-signal-button {

                        padding: 8px;
                        cursor: pointer;

                        .icon-pin-signal {
                            color: #FFFFEE;
                            transition: color 500ms;
                        }

                        &:hover {
                            transition: background-color 500ms;
                            background-color: #525B67;
                            border-radius: 5px;
                        }

                        &:focus {
                            background-color: transparent;
                        }

                        &.pinned {
                            .icon-pin-signal {
                                transform: rotate(90deg);
                            }
                        }
                    }
                }
            }
        }

        th {
            padding: 5px;
            border-bottom: white solid 1px;

            &.placeholder {
                /*border-bottom: none;*/
            }
        }

        td {
            padding: 5px;
            text-align: right;
        }

        .signal-viewer {
            display: inline-block;
            margin-left: 10px;
            margin-top: 10px;
            width: 70%;

            .result-visual-container {
                margin: 10px;

                .result-visual {
                    max-width: 900px;
                }
            }

            .spice-plot-placeholder {
                width: 100%;
            }
        }

    }

    .data {
        fill: lightgrey;
        stroke-width: 0px;
    }

    .chart, .navigator {
        background-color: #000000;
    }

    .navigator {
        position: relative;
        top: -6px;
    }

    .navline {
        pointer-events: none;
        fill: #F5F5F5;
        stroke-width: 1px;

        &.flatline {
            stroke: #F5F5F5;
        }
    }

    .line {
        fill: none;
        stroke-width: 1px;
    }

    .axis {
        path, line {
            fill: none;
            stroke: #FFFFEE;
            stroke-width: 1px;
            opacity: 0.5;
        }

        text {
            fill: #FFFFEE;
        }
    }

    .axislabel {
        fill: #FFFFEE;
    }

    .overlay {
        stroke-width: 0px;
        fill-opacity: 0;
    }

    .viewport {
        .extent {
            stroke: #F5F5F5;
            fill: #FFFFEE;
            fill-opacity: 0.3;
        }
    }


    .tooltip {
        pointer-events: none;
    }

    .tooltip-box {
        stroke: #FFFFEE;
        stroke-width: 2;
    }

    .tooltip-text {
        fill: black;
    }

    .tooltip-guide {
        stroke: #FFFFEE;
        stroke-width: 1.5;
        pointer-events: none;
    }

    .chart-options-menu {
        background-color: #000000;
        width: 100%;

        .plot-menu-button {
            border: 1px solid rgba(158, 158, 158, 0.6);
            background-color: rgba(0, 0, 0, 0.38);
            box-shadow: 0 2px 5px 0 rgba(255, 255, 255, .26);
            font-size: 11px;
            margin: 5px 0;
        }

        #toggle-tooltip-button {
            margin-left: 5px;

            &.on {
                background-color: rgb(113, 113, 113) !important;
            }

            &:hover {
                background-color: rgba(125, 179, 231, 0.75) !important;
            }
        }

        #zoom-button {
            width: 25px;
            padding-left: 3px;

            &.box-zoom {
                width: 30px;
            }

            &.selected {
                background-color: rgb(113, 113, 113) !important;
            }

            &:hover {
                background-color: rgba(125, 179, 231, 0.75) !important;
            }

        }

        .subscript {
            position: relative;
            top: 4px;
            left: -3px;
        }
    }

}
