.place-and-route-config {

}

.place-and-route-result {

}

.place-and-route-config-compact {

}

.place-and-route-config button {
    margin-left: 8px;
    font-weight: normal;
    font-size: 12px;
    border: rgba(255, 255, 255, 0.2) solid 1px;
    position: relative;
    display: inline-block;
    top: -3px;
}
