<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <!-- Include CSS library dependencies -->
    <% _.forEach(styles, function(style) { %><link rel="stylesheet" type="text/css" href="<%- style %>">
    <% }); %>

    <!-- Include CSS cyphy-components -->
    <link type="text/css" rel="stylesheet" href="../../cyphy-library/cyphy-components.css">
    <!-- Include App specific css-->
    <link type="text/css" rel="stylesheet" href="styles/default-app.css">

    <title></title>
</head>
<body>
<div growl></div>
<!--<a ui-sref="workspaces">State 1</a>-->
<!--<a ui-sref="workspaceDetails({workspaceId: 0})">State 2</a>-->
<div data-ng-controller="MainNavigatorController" class="main-navigator-container">
    <dropdown-navigator data-navigator="navigator"></dropdown-navigator>
</div>
<div ui-view></div>

<!-- Include library dependencies -->
<% _.forEach(scripts, function(script) { %><script src="<%- script %>"></script>
<% }); %>

<!-- Include application -->
<script src="scripts/default-app.js"></script>
<script src="scripts/default-app-templates.js"></script>

<!-- Start the main application -->
<script type="text/javascript">
    var clientLoaded,
            timeout = 5000,
            waitCounter = 0,
            i,
            success,
            usedClasses = ["Client", "ExecutorClient"],
            interval = 200,
            waitForLoadId = setInterval(function () {
                if (window.GME &&
                    window.GME.classes) {
                    // TODO: check for all classes that we use
                    clearInterval(waitForLoadId);
                    success = true;

                    for (i = 0; i < usedClasses.length; i += 1) {
                        if (window.GME.classes.hasOwnProperty(usedClasses[i])) {
                            console.log('WebGME ' + usedClasses[i] + ' is available.');
                        } else {
                            console.error('WebGME ' + usedClasses[i] + ' was not found.');
                            success = false;
                        }
                    }

                    if (success) {
                        console.log('WebGME client library is ready to use.');
                        clientLoaded();
                    }
                } else {
                    console.log('Waiting for WebGME client library to load.');
                    waitCounter += 1;
                    if (waitCounter >= timeout / interval) {
                        clearInterval(waitForLoadId);
                        console.error('WebGME client library was not loaded within a reasonable time. (' + (timeout / 1000) + ' s)');
                    }
                }
            }, interval);

    clientLoaded = function () {
        // main entry point of the app.js
        // once the webgme Client is loaded and ready we can use it.

        angular.bootstrap(document, ['CyPhyApp']);
    };
</script>
</body>
</html>
