@import '../../../styles/colors';

$border-styles: 1px solid rgba(143, 156, 166, .2);

.footer-drawer {

	i.info-icon.glyphicon.glyphicon-info-sign {
		color: $baseFrontColor;
	}

	.component-browser .no-components-to-list {
		background-color: rgba(255,255,255,.3);
	}

	.component-browser {

		height: 100%;		

		.left-panel {

			border-right: $border-styles;

			height: 100%;

			.component-categories {

				h4 {
					display: none;
				}

			}

			.tree-navigator {
				
				margin-top: 0;
				border-top: 0;

				.tree-navigator-nodes {
					padding: 0;
				}

				.node-label {
					padding-left: 10px;
				}

				.node-expander {
					margin-left: -4px;
				}

				.expanded {

					.node-expander {
						margin-left: 0;
					}

				}

				ul.node-list  {

					margin-bottom: 0;

					> li {
				 	   border-bottom: none;
					}			

					ul.node-list {
			            padding: 0 0 0 2ex;
        			}

				}

				.icon-arrow-right:after {
					border-left-color: $linkColorOnDark;
				}

				.icon-arrow-right:hover:after {
					border-left-color: #fff;
				}

				.icon-arrow-down:after {
					border-top-color: $linkColorOnDark;
				}

				.icon-arrow-down:hover:after {
					border-top-color: #fff;
				}
			}
		}

	}

}