@import '../../../styles/colors';

$border-styles: 1px solid rgba(143, 156, 166, .2);

.footer-drawer {

	.component-browser .tree-navigator .selected-node > .node-label {
	    background-color: rgba(165, 185, 202, 0.4);
	    color: #fff;
	}	

	i.info-icon.glyphicon.glyphicon-info-sign {
		color: #fff;
	}

	.component-browser .no-components-to-list {
		background-color: $baseFrontColor;
	}

	.component-browser {

		height: 100%;		


		.list-view {
			 .item-list ul.list-group li.item-list-item.context-menu-trigger	{
				cursor: copy;
			}
		}

		.left-panel {

			border-right: $border-styles;

			height: 100%;

			.component-categories {

				h4 {
					display: none;
				}

			}

			.tree-navigator {
				
				margin-top: 0;
				border-top: 0;

				.tree-navigator-nodes {
					padding: 0;
				}

				.node-label {
					padding-left: 10px;
				}

				.node-expander {
					margin-left: -4px;
				}

				.expanded {

					.node-expander {
						margin-left: 0;
					}

				}

				ul.node-list  {

					margin-bottom: 0;

					> li {
				 	   border-bottom: none;
					}			

					ul.node-list {
			            padding: 0 0 0 2ex;
        			}

				}

				.icon-arrow-right:after {
					border-left-color: $linkColorOnDark;
				}

				.icon-arrow-right:hover:after {
					border-left-color: #fff;
				}

				.icon-arrow-down:after {
					border-top-color: $linkColorOnDark;
				}

				.icon-arrow-down:hover:after {
					border-top-color: #fff;
				}
			}
		}

		.top-component-search {
			width: auto;
			padding-right: 0;
		}

		.download-button {

		}

		.ui-grid {
			border: 1px solid transparent;
		}

		.ui-grid-header {
			border-bottom: 1px solid rgba(143, 156, 166, .2);
		}

		.ui-grid-top-panel {
			background: transparent;
		}

		.ui-grid-row:nth-child(odd) .ui-grid-cell {
			background-color: transparent;
		}

		.ui-grid-row:nth-child(even) .ui-grid-cell {
			background: rgba(236, 238, 239, .1);
		}

		.ui-grid-cell {
		    border-top-color: rgba(143, 156, 166, .2);
		    border-right-color: rgba(143, 156, 166, .2);
		    border-bottom-color: rgba(143, 156, 166, .2);
		    border-left-color: rgba(143, 156, 166, .2);
		}

		.ui-grid-header-cell {
		    border-top-color: rgba(143, 156, 166, .2);
		    border-right-color: rgba(143, 156, 166, .2);
		    border-bottom-color: rgba(143, 156, 166, .2);
		    border-left-color: rgba(143, 156, 166, .2);
		}

		.count-display {
			margin-right: 0;
		}

		// Context-menu

		.ui-grid-menu .ui-grid-menu-inner {
			color: #000;
			background-color: #fff;
		}

	}

}