@import '../../../styles/colors';

$border-styles: 1px solid rgba(143, 156, 166, .2);
$hover-color: rgba(158, 158, 158, 0.1);

.footer-drawer {

	.download-button,
	.info-button {
		color: $linkColorOnDark;
	}

	.download-button:hover,
	.info-button:hover {
		color: $linkHoverColorOnDark;
	}

	.content-list-view .info-button {
	    background-color: rgb(13,71,161);
	    border-bottom-left-radius: 0;
	}

	.content-list-view .item-list li.item-list-item {
		min-height: 70px;

		.icon-container {

		    top: 20px;

		    height: 45px;
			line-height: 45px;

		    text-align:center;

			&.no-info-button {
					top: 10px;
			}
		}

	}


	.content-browser.tree-navigator .selected-node > .node-label {
	    background-color: rgba(165, 185, 202, 0.4);
	    color: #fff;
	}

	i.info-icon.glyphicon.glyphicon-info-sign {
		color: #fff;
	}

	.no-components-to-list {
		background-color: $baseFrontColor;
	}

	.content-browser{

		.item-title {
			font-weight: bold;
			font-size: 16px;
		}

		h3 {
			font-size: 14px;			
		}

		input {
			color: #000;
		}

		.ui-grid-filter-container .ui-grid-filter-button [class^="ui-grid-icon"] {
			color: #999;
		}

		height: 100%;

		.listing-header {
			background-color: $baseBGColor;
		}

	    md-progress-circular {
	        margin-top: 2em;
	        display: inline-block;
	    }

	    .tree-navigator {

	        margin-top: -20px;

	        font-size: 95%;

	        > .tree-navigator-nodes {
	            overflow: auto;
	            position: relative;
	        }

	        li {
	            position: relative;

	            .context-menu-trigger {
	                overflow: hidden;
	                text-overflow: ellipsis;
	            }
	        }

	        li.has-symbol {

	        }

	        li.parent-node > .node-label {
	            font-weight: bold;
	            text-transform: uppercase;
	            color: #666;
	        }

	//        li.parent-node.selected-node > .node-label {
	//            color: #fff;
	//        }

	        li.leaf-node {

	            .label-and-extra-info {
	                display: block;
	                cursor: copy;
	            }

	            .node-extra-info {
	                display: block;
	           }
	        }

	        .node-label:hover,
	        .node-label:active {
	            background-color: $hover-color;
	        }

	        ul.node-list ul.node-list {
	            padding: 0 0 0 2ex;
	        }

	        ul.node-list > li {
	            border-bottom: 1px dotted #CDCDCD;
	        }

	        ul.node-list > li:last-child {
	            border-bottom: none;
	        }

	        ul.node-list > li.leaf-node:last-child {
	            margin-bottom: 1ex;
	        }

	        .selected-node > .node-label {
	            background-color: rgba(137, 201, 255, 0.3);
	        }


	        svg.component-symbol {
	            width: 60px;
	            height: 20px;
	            display: inline-block;
	            margin-left: 20px;
	            vertical-align: top;
	        }
	    }

/*    .component-search {
        padding-right: 3.5ex;
        padding-left: 1ex;
        width: 100%;

        input {
            width: 100%;
        }

    }
*/
	    .preferences-menu {
	        margin-top: -6px;
	    }

	    .angucomplete-dropdown {
	        width: 100%;
	        box-shadow: 0 2px 3px rgba(0,0,0,.1);
	        margin-top: 2px;
	    }

	    .angucomplete-row {
	        border-bottom: 1px dotted #CDCDCD;
	        color: #555;
	        margin-bottom: none !important;
	    }

	    .angucomplete-title {
	        overflow: hidden;
	        text-overflow: ellipsis;
	    }

	    .angucomplete-selected-row,
	    .angucomplete-row:hover {
	        background-color: rgba(218, 226, 244, 0.6);
	    }

	    .total-children-count {
	        display: inline;
	        font-weight: normal;
	    }

	    .grand-total {
	        font-size: 50%;
	        float: right;
	        margin-top: 9px;
	    }

	    li.paging.page-down {
	        border-top: none;
	    }

		.content-list-view .item-list ul.list-group li.item-list-item.context-menu-trigger {
	        border: 1px solid rgba(143, 156, 166, .2);
			padding-left: 10px;
			padding-top: 0;
			padding-bottom: 0;
			background-color: transparent;

 			cursor: copy;

			-webkit-user-select: none;  /* Chrome all / Safari all */
			-moz-user-select: none;     /* Firefox all */
			-ms-user-select: none;      /* IE 10+ */

			/* No support for these yet, use at own risk */
			-o-user-select: none;
			user-select: none;

			&:hover {
				background-color: $hover-color;
			}

		}


		.grid-view {
			.grid-row {

				transition: background-color .25s;
				cursor: copy;

				&:hover {

					.ui-grid-cell {
						background-color: $hover-color;
					}

				}

			}
		}

		button {
			font-size: 14px;
		}

		.paging {
			.next-page {
				width: 150px;
			}

			.previous-page {
				width: 155px;
			}

		}

		.left-panel {

			border-right: $border-styles;

			height: 100%;

			.component-categories {

				h4 {
					display: none;
				}

			}

			.tree-navigator {

				margin-top: 0;
				border-top: 0;

				.tree-navigator-nodes {
					padding: 0;
				}

				.node-label {
					padding-left: 10px;
				}

				.node-expander {
					margin-left: -4px;
				}

				.expanded {

					.node-expander {
						margin-left: 0;
					}

				}

				ul.node-list  {

					margin-bottom: 0;

					> li {
				 	   border-bottom: none;
					}

					ul.node-list {
			            padding: 0 0 0 2ex;
        			}

				}

				.icon-arrow-right:after {
					border-left-color: $linkColorOnDark;
				}

				.icon-arrow-right:hover:after {
					border-left-color: #fff;
				}

				.icon-arrow-down:after {
					border-top-color: $linkColorOnDark;
				}

				.icon-arrow-down:hover:after {
					border-top-color: #fff;
				}
			}
		}

		.top-component-search {
			width: auto;
			padding-right: 0;
		}

		.download-button {

		}

		.ui-grid {
			border: 1px solid transparent;
		}

		.ui-grid-header {
			border-bottom: 1px solid rgba(143, 156, 166, .2);
		}

		.ui-grid-top-panel {
			background: transparent;
		}

		.ui-grid-row:nth-child(odd) .ui-grid-cell {
			background-color: transparent;
		}

		.ui-grid-row:nth-child(even) .ui-grid-cell {
			background: rgba(0, 0, 0, .08);
		}

		.ui-grid-cell {
		    border-top-color: rgba(143, 156, 166, .2);
		    border-right-color: rgba(143, 156, 166, .2);
		    border-bottom-color: rgba(143, 156, 166, .2);
		    border-left-color: rgba(143, 156, 166, .2);
		}

		.ui-grid-header-cell {
		    border-top-color: rgba(143, 156, 166, .2);
		    border-right-color: rgba(143, 156, 166, .2);
		    border-bottom-color: rgba(143, 156, 166, .2);
		    border-left-color: rgba(143, 156, 166, .2);
		}

		// Context-menu

		.ui-grid-menu .ui-grid-menu-inner {
			color: #000;
			background-color: #fff;
		}

	}

	.subcircuit-browser  {

		h5 {
			float: left;
		}

	}

	.no-inspectable-message {

		-webkit-user-select: none;  /* Chrome all / Safari all */
		-moz-user-select: none;     /* Firefox all */
		-ms-user-select: none;      /* IE 10+ */

		/* No support for these yet, use at own risk */
		-o-user-select: none;
		user-select: none;

	}

	.content-categories .tree-navigator .extra-info-content {
		color: #ffa;
	}

	.listing-header {

		button.btn.btn-default.selected {
			background-color: rgba(0,0,0,.5);
		}
	}

	.show-more-button,
	.show-less-button{
		color: #ffa;
	}

	.show-more-button:hover,
	.show-less-button:hover{
		background-color: rgba(0,0,0,.4);
	}

}
