.design-editor {

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;


  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;

  .content-wrapper {

    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    position: relative;

    .design-editor-keyboard-map{
      position: absolute;
      bottom: 20px;
      left: 20px;
    }

  }

}
