@import '../../../styles/colors';

$header-height: 38px;

.footer-drawer {

    h1, h2, h3, h4, h5, h6 {
        color: #eceeef;
    }

    background: $baseBGColor;
    border-top: 1px solid rgba(0, 0, 0, .12);
    height: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    left: 0;
    padding-top: $header-height;

    .drawer-navigator {
        padding: 0;
        list-style-type: none;
        position: absolute;
        width: 100%;

        > li {
            color: #555;
            display: inline-block;

            i {
                font-size: 85%;
            }
            margin-right: 0.5ex;


            button {
                border-radius: 0;
            }

            .md-button.md-default-theme[disabled],
            .md-button.md-default-theme.md-raised[disabled],
            .md-button.md-default-theme.md-fab[disabled] {
                cursor: default;
                color: $linkColorOnDark;
            }

        }

            .active-panel {

                button {
                    border-bottom: 3px solid #3894fd;
                }

            }

    }

    .drawer-sub-navigator {
        position: absolute;
        width: 50%;
        display: inline-block;
        background: $baseBGColor;
        z-index: 20;
        font-size: 100%;
        border-bottom: 1px solid rgba(143, 156, 166, 0.2);

        button.btn, .md-button {
            text-transform: none;
        }
    }

    > header {
        height: $header-height;
        border-bottom: 1px solid #4e5a68;
        position: absolute;
        z-index: 20;
        top: 0;
        width: 100%;
        left: 0;
        padding: 3px 10px;
        background: $baseBGColor;

        cursor: row-resize;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        .drawer-expander {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }

        transition: background 200ms;

  /*      &:hover {
        	background: rgba(200,200,200,.1);
        }
 */   }

    .drawer-panel {
    }

    .drawer-content {
        overflow: auto;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        padding-top: 40px;
        z-index: 10;
        color: $drawerColor;

        .btn,
        .md-button {
            color: #fff;
            font-weight: bold;
            line-height: 100%;

            &:active,
            &:hover {
                color: $linkHoverColorOnDark;
            }
        }

        img {
            background-color: #fff;
        }

    }

    .drawer-navigator + .drawer-content {
        padding-top: 70px;
    }

}


.footer-drawer.Inspector,
.footer-drawer.Components,
.footer-drawer.Subcircuits {

    padding-top: 40px;

    .drawer-content {
        padding-top: 0;
        position: relative;
    }
}
