<md-dialog class="about-dialog">
    <h1 class="md-sticky-no-effect"> Metamorphosys Tech Demo <span class="header-extra">({{::buildHash}})</span></h1>
    <md-content>
        <div class="clearfix"></div>
        <p>
            The <b>Metamorphosys</b> tools are used for the design and analysis of electronics.
        </p>

        <div class="tutorial" ng-if="tutorial">
            <h3 class="md-sticky-no-effect">Totorial exercise for <i>{{::designName}}</i>:</h3>
            <p>{{::tutorial.intro}}</p>
            <div class="tutorial-steps">
                <div class="tutorial-step" layout="row" layout-align="center center" ng-repeat="step in ::tutorial.steps">
                    <div flex="55" ng-bind-html="::step.description"></div>
                    <p flex="5"></p>
                    <p flex="40">
                        <img ng-attr-src="{{::step.visual}}" class="scale-it bordered"/>
                    </p>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>

        <h3 class="md-sticky-no-effect">A Note About the Tech Demo:</h3>
        <p>
            This is a limited prototype aimed at showing the new <b>editing, collaboration, and cloud-based
            computation</b> capabilities of our upcoming web version. Check out the <a
            href="https://github.com/metamorph-inc/metamorphosys-desktop">metamorphosys-desktop</a> project to use the
            full capabilities of the <b>Metamorphosys</b> tools, including:
            <ul>
                <li>analog and digital behavior simulation</li>
                <li>export-for-manufacturing</li>
                <li>app-to-firmware comms prototyping</li>
                <li>parts cost estimation</li>
                <li>much larger component library (thousands of components)</li>
            </ul>
        </p>

    </md-content>
    <div class="md-actions" layout="row">
        <social-media-buttons id="social-media"></social-media-buttons>
        <span flex></span>
        <md-button ng-click="close()" class="md-primary">
            Close
        </md-button>
    </div>
</md-dialog>
