<md-dialog class="about-dialog">
    <h1 class="md-sticky-no-effect"> Metamorphosys Tech Demo <span class="header-extra">Dev.0.1.0.</span></h1>
    <md-content>
        <div class="clearfix"></div>
        <p>
            The <b>Metamorphosys</b> tools are used for the design and analysis of electronics, and have special
            features for designing modules for Google's <i>Project Ara</i>. In this tech demo, you'll be able to quickly
            generate a circuit board design for an Ara Module with a 1x2 form-factor.
        </p>

        <p><b>Tutorial exercise:</b></p>
        <md-card>
            <div layout="row" layout-align="center center">
                <div flex="55">
                    <p>
                        Grab a sensor component from the <b>SENSORS</b> folder and drag it onto the canvas.
                    </p>

                    <p>
                        As an alternate method, you can also right-click on the chosen component and select
                        <i>"Add to design"</i> from the context-menu.
                    </p>
                </div>

                <p flex="5"></p>

                <p flex="40">
                    <img src="/extlib/dist/images/add_sensor.png" class="scale-it bordered"/>
                </p>
            </div>
        </md-card>
        <md-card>
            <div layout="row" layout-align="center center">
                <p flex="40">
                    <img src="/extlib/dist/images/connect_stuff.png" class="scale-it bordered"/>
                </p>

                <p flex="5"></p>

                <div flex="55">
                    <p>
                        Connect the sensor's power ports to the corresponding interfaces of the <b>Power System</b>.
                        Then
                        connect its communication interface to the corresponding interface on the <b>GP ASIC</b>.
                    </p>
                </div>
            </div>
        </md-card>
        <md-card>
            <div layout="row" layout-align="center center">
                <p flex="55">
                    Click the <b><i>play</i></b> button to automatically generate a <b>PCB</b> <i>(printed circuit
                    board)</i>. This can take a few minutes.
                </p>

                <p flex="5"></p>

                <p flex="40">
                    <img src="/extlib/dist/images/run_testbench.png" class="scale-it bordered"/>
                </p>
            </div>
        </md-card>
        <md-card>
            <div layout="row" layout-align="center center">
                <p flex="40">
                    <img src="/extlib/dist/images/show_results.png" class="scale-it bordered"/>
                </p>

                <p flex="5"></p>

                <p flex="55">
                    After reviewing the results, iterate on your design by making changes, adding more components, and
                    generating new PCBs.
                </p>
            </div>
        </md-card>
    </md-content>
    <div class="md-actions" layout="row">
        <social-media-buttons id="social-media"></social-media-buttons>
        <span flex></span>
        <md-button ng-click="close()" class="md-primary">
            Close
        </md-button>
    </div>
</md-dialog>
