<md-dialog>
    <h1 class="md-sticky-no-effect">Metamorphosys Tech Demo<span class="header-extra">Dev.0.1.0.</span></h1>
    <md-content>
        <p>
            The <b>Metamorphosys</b> tools are used for the design and analysis of electronics, and have special
            features for designing modules for Google's <i>Project Ara</i>.
        </p>

        <p>
            In this tech demo, you will be able to quickly generate a circuit board design for an Ara Module with a 1x2
            form-factor.
        </p>

        <h2>What To Do</h2>

        <div layout="row">
            <p flex="60">
                Grab a sensor component from the <b><i>SENSORS</i></b> folder on the right.
            </p>

            <p flex="40">
                <img src="http://placehold.it/320x200" class="scale-it"/>
            </p>
        </div>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer('close')" class="md-primary">
            Close
        </md-button>
    </div>
</md-dialog>
