<div class="editor-container" layout="row">

    <diagram-container ng-attr-id="svg-container" diagram="diagram" flex="75">
        <drawing-grid ng-attr-id="svg-container-drawing-grid">
            <svg-diagram></svg-diagram>
        </drawing-grid>
    </diagram-container>


    <div class="component-browser-container" flex="25">

        <!--{{mainDbConnectionId}}-->
        <!--{{activeWorkSpace}}-->

        <component-list
            data-connection-id="mainDbConnectionId"
            data-workspace-id="activeWorkSpace.id">

        </component-list>

        <!--<component-browser&ndash;&gt;-->
        <!--data-workspace-id="'/577839143'"-->
        <!--avm-ids="['/577839143/1379959555/1468018535']"-->
        <!--data-connection-id="mainDbConnectionId"></component-browser>-->

    </div>
</div>
