<div class="editor-container" layout="row">
    <div class="grid-holder" flex="80">

        <diagram-container ng-attr-id="svg-container" diagram="diagram">
            <svg-diagram></svg-diagram>
        </diagram-container>

    </div>
    <div class="component-browser-container" flex="20">

        <component-browser
                data-workspace-id="'/577839143'"
                avm-ids="['c2bcc5e3-6e35-4018-aa97-fc26ae8c1ccc']"
                data-connection-id="mainDbConnectionId"></component-browser>
    </div>
</div>
