$blue: rgb(33,150,243);

.container-box {

    .component-label {
        fill: $blue;
        font-weight: bold;
        font-size: 85%;
    }

    .symbol-area {
        display: none;
    }

    .component-label {
        text-anchor: middle;
    }

    .port {

        .port-label {
            fill: $blue;
        }

        &.right {

            .port-label {
                text-anchor: end;
            }
        }

    }

    .box-box {
        //  fill:rgba(255,254,230, .3);
        fill: rgb(255,255,255);
        stroke-width: 2.5;
        stroke: $bluegit a;
        stroke-dasharray: 3.5,2.5;
    }

    .port-wire {
        stroke-width:1;
        stroke:rgb(0,0,0);
    }

}
