<g class="decorated-port">
    <g ng-attr-transform="{{::decorationTransform}}">
        <g ng-if="portInstance.portSymbol.side === 'left'"
            class="port-shape">
            <rect
                  x="20"
                  y="0"
                  width="5"
                  height="15"
                  class="decorated-port-box"
                  ng-attr-fill="{{::decoratorColor}}" stroke-width="0"
                />
            <rect
                  x="0"
                  y="0"
                  width="25"
                  height="15"
                  rx="5"
                  ry="5"
                  class="decorated-port-box"
                  ng-attr-fill="{{::decoratorColor}}" stroke-width="0"
                />
            <rect
                  x="23"
                  y="0"
                  width="2"
                  height="15"
                  class="port-side"
                  ng-attr-fill="#1146a0" stroke-width="0"
                />
        </g>
        <g ng-if="portInstance.portSymbol.side === 'right'"
            class="port-shape">
            <rect
                x="0"
                y="0"
                  width="5"
                  height="15"
                  class="decorated-port-box"
                  ng-attr-fill="{{::decoratorColor}}" stroke-width="0"
                />
            <rect
                x="0"
                y="0"
                  width="25"
                  height="15"
                  rx="5"
                  ry="5"
                  class="decorated-port-box"
                  ng-attr-fill="{{::decoratorColor}}" stroke-width="0"
                />
            <rect
                x="0"
                y="0"
                  width="2"
                  height="15"
                  class="port-side"
                  ng-attr-fill="#1146a0" stroke-width="0"
                />
        </g>
        <g class="decoration-placeholder"></g>
        <text class="decorator-label"
            x="13"
            y="11"
            ng-if="::(!decoratorDirective && decoratorLabel)">{{::decoratorLabel}}</text>
    </g>
</g>
