<g class="decorated-port">
    <g ng-if="portInstance.portSymbol.side === 'left'"
        class="port-shape">
        <rect
              x="23"
              y="-7"
              width="5"
              height="13"
              class="decorated-port-box"
              fill="{{::portColor}}" stroke-width="0"
            />
        <rect
              x="3"
              y="-7"
              width="25"
              height="13"
              rx="5"
              ry="5"
              class="decorated-port-box"
              fill="{{::portColor}}" stroke-width="0"
            />
        <rect
              x="26"
              y="-7"
              width="2"
              height="13"
              class="port-side"
              fill="#1146a0" stroke-width="0"
            />
    </g>
    <g ng-if="portInstance.portSymbol.side === 'right'"
        class="port-shape">
        <rect
              x="-28"
              y="-7"
              width="5"
              height="13"
              class="decorated-port-box"
              fill="{{::portColor}}" stroke-width="0"
            />
        <rect
              x="-28"
              y="-7"
              width="25"
              height="13"
              rx="5"
              ry="5"
              class="decorated-port-box"
              fill="{{::portColor}}" stroke-width="0"
            />
        <rect
              x="-28"
              y="-7"
              width="2"
              height="13"
              class="port-side"
              fill="#1146a0" stroke-width="0"
            />
    </g>
</g>
