<g ng-attr-id="{{::port.id}}"
   ng-attr-transform="{{::getPortTransform()}}"
   class="port"
   ng-class="::getCssClass()">
    <text class="port-label"
          ng-if="::isPortLabelVisible()"
          ng-attr-x="{{::portInstance.portSymbol.labelPosition.x}}"
          ng-attr-y="{{::portInstance.portSymbol.labelPosition.y}}"
        >{{getLabel()}}
    </text>
    <g
        ng-click="onPortClick(portInstance, $event)"
        ng-mousedown="onPortMouseDown(portInstance, $event)"
        ng-mouseup="onPortMouseUp(portInstance, $event)"
        >
        <circle cx="0" cy="0" r="4" fill="black" stroke-width="1"/>
    </g>
</g>
