<g ng-attr-id="{{::self.port.id}}"
   ng-attr-transform="{{::self.getPortTransform()}}"
   class="port"
   ng-class="::self.getCssClass()">
    <text class="port-label"
          ng-if="::self.isPortLabelVisible()"
          ng-attr-x="{{::self.portInstance.portSymbol.labelPosition.x}}"
          ng-attr-y="{{::self.portInstance.portSymbol.labelPosition.y}}"
        >{{self.getLabel()}}
    </text>
    <g
        ng-click="self.onPortClick(self.portInstance, $event)"
        ng-mousedown="self.onPortMouseDown(self.portInstance, $event)"
        ng-mouseup="self.onPortMouseUp(self.portInstance, $event)"
        >
        <circle cx="0" cy="0" r="4" fill="black" stroke-width="1"/>
    </g>
</g>
