<g class="supply-single-symbol">
    <g ng-if="portInstance.portSymbol.side === 'right'">
        <svg
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
        x="0" y="0"
        width="27px"
        height="15px"
        viewBox="0 0 27 15">
        <path class="bg-part" d="M0 0 L18 0 C27 0 27 0 27 9 L27 6 C27 15 27 15 18 15 L0 15 Z" fill="#000"/>
        <path class="bg-part" d="M0 15 L0 0 L12 0 L 12 15 L0 15 Z" fill="#cb1800"/>
        <path d="M12 0 v15 h1 v-15Z" fill="#fff"/>
        <text x="6" y="10" text-anchor="middle" fill="#fff" font-size="10">+</text>
        <text x="20" y="11" text-anchor="middle" fill="#fff" fon-size="10">-</text>
        </svg>
    </g>
    <g ng-if="portInstance.portSymbol.side === 'left'">
        <svg
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
        x="0" y="0"
        width="27px"
        height="15px"
        viewBox="0 0 27 15">
        <path class="bg-part" d="M0 0 L18 0 C27 0 27 0 27 9 L27 6 C27 15 27 15 18 15 L0 15 Z" fill="#000" transform="rotate(180) translate(-27, -15)"/>
        <path class="bg-part" d="M13 15 L13 0 L27 0 L 27 15 Z" fill="#cb1800"/>
        <path d="M13 0 v15 h1 v-15Z" fill="#fff"/>
        <text x="20" y="10" text-anchor="middle" fill="#fff" font-size="10">+</text>
        <text x="6" y="11" text-anchor="middle" fill="#fff" fon-size="10">-</text>
    </svg>
    </g>
<g>
