<div class="diagram-container unselectable"
    data-ng-class="getCssClass()"
    >
    <div class="position-debug">Visible area: {{visibleArea}} Zoom level: {{zoomLevel}} {{initialized}}</div>
    <!--<panzoomwidget panzoom-id="panzoomId" class="panzoom-widget"></panzoomwidget>-->
    <!--<panzoom id="panzoomId" config="panzoomConfig" model="panzoomModel" class="canvas-zoomer">-->
    <div class="diagram-content-pane"
        ng-class="initialized ? 'initialized' : 'not-initialized'">
        <ng-transclude></ng-transclude>
    </div>
    <!--</panzoom>-->
</div>
