<div class="diagram-container unselectable"
     ui-on-drop="somethingWasDroppedOnMe($event, $data)"
     drop-channel="component"
     data-ng-class="getCssClass()"
    >
    <!--<div class="position-debug">Visible area: {{visibleArea}} Zoom level: {{zoomLevel}} {{initialized}}</div>-->
    <!--<panzoomwidget panzoom-id="panzoomId" class="panzoom-widget"></panzoomwidget>-->
    <!--<panzoom id="panzoomId" config="panzoomConfig" model="panzoomModel" class="canvas-zoomer">-->
    <div class="diagram-content-pane"
         ng-class="getInitializedClass()">
        <ng-transclude></ng-transclude>
    </div>

    <md-progress-circular
        ng-class="getInitializedClass()"
        class="md-hue-2 diagram-container-spinner" md-mode="indeterminate"></md-progress-circular>

    <!--</panzoom>-->
</div>
