<md-dialog aria-label="Mango (Fruit)">
    <h1 class="md-sticky-no-effect">Share project to collaborate</h1>
    <md-content class="share-dialog">
        <p>Your project is real-time synced and saved to our cloud store. <br/>
            Others can open and collaborate on the current design simply by using its URL:</p>
        <section layout="row">
            <input readonly class="link-field" ng-model="designUrl"/>
            <md-button
                ng-href="{{mailtoUrl}}"
                size="150"
                class="md-raised md-primary"><i class="fa fa-paper-plane"></i> E-mail it!</md-button>
        </section>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="close()">
            OK
        </md-button>
    </div>
</md-dialog>
