<md-dialog aria-label="Mango (Fruit)">
    <md-content class="share-dialog">
        <h1 class="md-sticky-no-effect">Share and collaborate</h1>
        <p>Your project is real-time synced and saved to our cloud store.</p>
        <p>Others can open and collaborate on the current design simply by using its URL:</p>
        <section layout="row">
            <input readonly class="link-field" ng-model="designUrl"/>
            <md-button ng-click="send(user)" size="150" class="md-raised md-primary">E-mail it!</md-button>
        </section>
    </md-button>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="close()">
            OK
        </md-button>
    </div>
</md-dialog>
