<md-dialog class="subscribe-dialog">
    <h1 class="md-sticky-no-effect">Get in touch!</h1>
    <md-content>
        <p>Our tools are under development and we would like to keep you updated.</p>

        <form name="contactForm" class="contact-form">
            <div class="row">
                <span></span>
                <md-text-float label="Name" ng-model="user.name"></md-text-float>
                <md-text-float label="eMail" ng-model="user.email" name="email" class="long"
                               type="email"></md-text-float>

                    <!--<span class="error" ng-show="contactForm.email.$error.email">-->
                      <!--Not valid email!</span>-->

            </div>
        </form>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
            No, thanks!
        </md-button>
        <md-button ng-click="send(user)" class="md-primary">
            Send
        </md-button>
    </div>
</md-dialog>
