<div class="design-editor">
    <img id="ghost-component" src="images/ghost-component.png">
    <div class="content-wrapper">
        <diagram-container diagram="designEditorCtrl.diagram" config="designEditorCtrl.diagramContainerConfig">
            <drawing-grid diagram="designEditorCtrl.diagram">
                <svg-diagram diagram="designEditorCtrl.diagram"></svg-diagram>
            </drawing-grid>
        </diagram-container>
        <keyboard-map class="design-editor-keyboard-map"></keyboard-map>
        <testbench-actions></testbench-actions>
    </div>
    <footer-drawer>
        <drawer-panel name="Inspector" icon-class="fa fa-search inspector-icon" height="200">
            <diagram-component-inspector ng-if="!designEditorCtrl.inspectableWire" inspectable="designEditorCtrl.inspectableComponent"></diagram-component-inspector>
            <diagram-wire-inspector ng-if="designEditorCtrl.inspectableWire" inspectable-wire-id="designEditorCtrl.inspectableWire.getId()" diagram="designEditorCtrl.diagram"></diagram-wire-inspector>
        </drawer-panel>
        <drawer-panel name="Components" height="300">
            <component-browser
            embedded
            persist-state
            on-item-drag-start="designEditorCtrl.componentBrowserItemDragStart"
            on-item-drag-end="designEditorCtrl.componentBrowserItemDragEnd"
            no-download
            ></component-browser>
        </drawer-panel>
        <drawer-panel name="Subcircuits" height="300">
            <subcircuit-browser
            embedded
            persist-state
            on-item-drag-start="designEditorCtrl.subcircuitBrowserItemDragStart"
            on-item-drag-end="designEditorCtrl.subcircuitBrowserItemDragEnd"
            list-view-items-per-page="60"
            no-download
            ></subcircuit-browser>
        </drawer-panel>
        <drawer-panel name="Analyze" active height="300" class="test-bench-drawer-panel">
            <drawer-sub-panel name="Tests" active>
                <test-bench-drawer-panel-test-list></test-bench-drawer-panel-test-list>
            </drawer-sub-panel>
            <drawer-sub-panel name="Results">
                <test-bench-drawer-panel-result-list></test-bench-drawer-panel-result-list>
            </drawer-sub-panel>
        </drawer-panel>
    </footer-drawer>
</div>
