<div class="design-editor">
    <img id="ghost-component" src="images/ghost-component.png">
    <div class="content-wrapper">
        <diagram-container diagram="designEditorCtrl.diagram" config="designEditorCtrl.diagramContainerConfig">
            <drawing-grid diagram="designEditorCtrl.diagram">
                <svg-diagram diagram="designEditorCtrl.diagram"></svg-diagram>
            </drawing-grid>
        </diagram-container>
        <keyboard-map class="design-editor-keyboard-map"></keyboard-map>
        <!-- <testbench-actions></testbench-actions> -->
    </div>
    <footer-drawer>
        <drawer-panel name="Inspector" active icon-class="fa fa-search inspector-icon" height="200">
            <diagram-component-inspector ng-if="!designEditorCtrl.inspectableWire" inspectable="designEditorCtrl.inspectableComponent"></diagram-component-inspector>
            <diagram-wire-inspector ng-if="designEditorCtrl.inspectableWire" inspectable-wire-id="designEditorCtrl.inspectableWire.getId()" diagram="designEditorCtrl.diagram"></diagram-wire-inspector>
        </drawer-panel>
        <drawer-panel name="Content" height="300">
            <div class="drawer-sub-panel-content">
                <drawer-sub-panel name="Components">
                    <div class="above-content-headers"></div>
                    <component-browser
                        embedded
                        persist-state
                        on-item-drag-start="designEditorCtrl.componentBrowserItemDragStart"
                        on-item-drag-end="designEditorCtrl.componentBrowserItemDragEnd"
                        no-download>
                    </component-browser>
                </drawer-sub-panel>
                <drawer-sub-panel name="Subcircuits" active>
                    <div class="above-content-headers"></div>
                    <subcircuit-browser
                        embedded
                        persist-state
                        on-item-drag-start="designEditorCtrl.subcircuitBrowserItemDragStart"
                        on-item-drag-end="designEditorCtrl.subcircuitBrowserItemDragEnd"
                        list-view-items-per-page="60"
                        no-download>
                    </subcircuit-browser>
                </drawer-sub-panel>
                <drawer-sub-panel name="Primitives" class="primitives-drawer-panel">
                    <primitives-drawer-panel-grid></primitives-drawer-panel-grid>
                </drawer-sub-panel>
            </div>
        </drawer-panel>
        <drawer-panel name="Analyze" height="300" class="test-bench-drawer-panel">
            <drawer-sub-panel name="Tests" active>
                <test-bench-drawer-panel-test-list></test-bench-drawer-panel-test-list>
            </drawer-sub-panel>
            <drawer-sub-panel name="Results">
                <test-bench-drawer-panel-result-list></test-bench-drawer-panel-result-list>
            </drawer-sub-panel>
        </drawer-panel>
    </footer-drawer>
</div>
