<article class="workspace-details">

<header>
    <h1 class="workspace-name">{{ name }}</h1>
    <!--<span class="id">ID: {{ id }}</span>-->

    <div class="workspace-description">{{ description }}</div>
</header>


<div class="row">
<section class="components col-lg-4 col-md-6 col-sm-12 col-xs-12">
    <h3>Components</h3>

    <ul class="list-group">
        <!-- One workspace item -->
        <li class="list-group-item" data-id="{{ component.id }}"
            data-ng-repeat="component in components | orderObjectBy: 'name'">

            <header>
                <h4><a class="component-name" href="">{{ component.name }}</a></h4>
            </header>

            <div class="control-buttons">
                <div class="btn-group" dropdown is-open="status.isopen">
                    <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabled">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="{{ getUrl(component.id) }}" target="_blank">
                            <i class="glyphicon glyphicon-edit"></i> Open in editor</a></li>
                        <li data-ng-if="component.acm"><a href="{{ component.acm }}">
                            <i class="glyphicon glyphicon-share-alt"></i> Export ACM</a></li>
                        <li class="divider"></li>
                        <li><a data-ng-click="deleteObject(component.id)">
                            <i class="glyphicon glyphicon-remove"></i> Delete</a></li>
                    </ul>
                </div>
            </div>

            <accordion class="details-accordion">
                <accordion-group>
                    <accordion-heading>
                        <i class="glyphicon"
                           ng-class="'glyphicon-info-sign'"></i>
                        Details
                    </accordion-heading>
                    <div class="details">

                        <div class="description">{{ component.description }}</div>
                        <h5><strong>In Designs</strong></h5>
                        <ul>
                            <li data-ng-repeat="design in component.inDesigns">{{designs[design.designId].name}} ::
                                {{design}}
                            </li>
                        </ul>
                        <div class="component-interfaces">
                            <h5><strong>Interfaces</strong></h5>
                            <ul class="interface-list">
                                <li data-ng-repeat="conn in component.interfaces.connectors | orderObjectBy: 'name'">
                                    <i class="cyphy-tag gray">Connector</i> {{conn.name}}
                                    <i class="cyphy-tag purple" data-ng-repeat="port in conn.domainPorts | orderObjectBy: 'name'">
                                        {{port.type}}
                                    </i>
                                </li>
                                <li data-ng-repeat="prop in component.interfaces.properties | orderObjectBy: 'name'">
                                    <i class="cyphy-tag gray">{{prop.valueType === 'Fixed' ? 'Property' : 'Parameter'}}</i>
                                    {{prop.name}} ({{prop.dataType}})
                                </li>
                            </ul>
                        </div>

                    </div>
                </accordion-group>
            </accordion>

            <footer>

                <time class="last-updated-time">Updated <span am-time-ago="component.date"></span></time>

                <div class="stats">
                    <ul class="list-group">
                        <li class="list-group-item pull-left"
                            data-ng-repeat="di in component.domainsInfo | orderObjectBy:'type'">
                            <span class="domain-models {{di.icon}}">{{di.type}} {{di.cnt}}</span>
                        </li>
                    </ul>
                </div>

            </footer>

        </li>
    </ul>
</section>

<section class="designs col-lg-4 col-md-6 col-sm-12 col-xs-12">
    <h3>Designs</h3>

    <ul class="list-group">

        <li class="list-group-item" data-id="{{ design.id }}"
            data-ng-repeat="design in designs | orderObjectBy: 'name'">

            <header>
                <h4><a class="design-name" href="#/designSpace/{{ design.id }}" tooltip="View Design Space"
                       tooltip-placement="right">{{ design.name }}</a></h4>
            </header>

            <div class="control-buttons">
                <div class="btn-group" dropdown is-open="status.isopen">
                    <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabled">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="{{ getUrl(design.id) }}" target="_blank">
                            <i class="glyphicon glyphicon-edit"></i> Open in editor</a></li>
                        <li><a ng-click="exportDesign(design.id)">
                            <i class="glyphicon glyphicon-share-alt"></i> Export ADM</a></li>
                        <li class="divider"></li>
                        <li><a data-ng-click="deleteObject(design.id)">
                            <i class="glyphicon glyphicon-remove"></i> Delete</a></li>
                    </ul>
                </div>
            </div>


            <accordion class="details-accordion">
                <accordion-group>
                    <accordion-heading>
                        <i class="glyphicon"
                           ng-class="'glyphicon-info-sign'"></i>
                        Details
                    </accordion-heading>
                    <div class="details">
                        <div class="description">{{ design.description }}</div>

                        <div class="design-components">
                            <h5><strong>Components</strong></h5>
                            <ul>
                                <li data-ng-repeat="component in design.components">
                                    {{components[component.componentId].name}}
                                    :: {{component}}
                                </li>
                            </ul>
                        </div>

                        <div class="design-interfaces">
                            <h5><strong>Interfaces</strong></h5>
                            <ul class="interface-list">
                                <li data-ng-repeat="conn in design.interfaces.connectors | orderObjectBy: 'name'">
                                    <i class="cyphy-tag gray">Connector</i> {{conn.name}}
                                    <i class="cyphy-tag purple" data-ng-repeat="port in conn.domainPorts | orderObjectBy: 'name'">
                                        {{port.type}}
                                    </i>
                                </li>
                                <li data-ng-repeat="prop in design.interfaces.properties | orderObjectBy: 'name'">
                                    <i class="cyphy-tag gray">{{prop.valueType === 'Fixed' ? 'Property' : 'Parameter'}}
                                    </i> {{prop.name}} ({{prop.dataType}})</li>
                            </ul>
                        </div>

                    </div>
                </accordion-group>
            </accordion>


            <footer>

                <time class="last-updated-time">Updated <span am-time-ago="design.date"></span></time>


                <div class="stats">
                    <ul class="list-group">
                        <li class="list-group-item pull-left"
                            data-ng-repeat="(key, value) in design.size">
                            <span class="cyphy-label white-bg">{{ key }}: </span><span class="cyphy-tag gray">{{ value }}</span>
                        </li>
                    </ul>
                </div>

            </footer>

        </li>
    </ul>
</section>

<section class="test-benches col-lg-4 col-md-6 col-sm-12 col-xs-12">
    <h3>Test benches</h3>

    <ul class="list-group">
        <li class="list-group-item" data-id="{{ testBench.id }}"
            data-ng-repeat="testBench in testBenches | orderObjectBy: 'name'">

            <header>
                <h4><a class="testbench-name" href="#/testBench/{{ testBench.id }}" tooltip="View Test Bench"
                       tooltip-placement="right">{{ testBench.name }}</a></h4>
            </header>

            <div class="control-buttons">
                <div class="btn-group" dropdown is-open="status.isopen">
                    <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabled">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="{{ getUrl(testBench.id) }}" target="_blank">
                            <i class="glyphicon glyphicon-edit"></i> Open in editor</a></li>
                        <li><a class="btn btn-dropdown" ng-disabled="!testBench.testBenchFiles" ng-click="executeTestBench(testBench.id)">
                            <i class="glyphicon glyphicon-expand"></i> Execute Test-Bench</a></li>
                        <li><a class="btn btn-dropdown" ng-disabled="!testBench.results" ng-click="getDashboard(testBench.id, true)" >
                            <i class="glyphicon glyphicon-tasks"></i> View Dashboard</a></li>

                        <li class="divider"></li>
                        <li><a data-ng-click="deleteObject(testBench.id)">
                            <i class="glyphicon glyphicon-remove"></i> Delete</a></li>
                    </ul>
                </div>
            </div>
            <accordion class="details-accordion">
                <accordion-group>
                    <accordion-heading>
                        <i class="glyphicon"
                           ng-class="'glyphicon-info-sign'"></i>
                        Details
                    </accordion-heading>
                    <div class="details">

                        <div class="description">{{ testBench.description }}</div>

                        <div class="tlsut">
                            <h5><strong>TLSUT Interfaces</strong></h5>
                            <ul class="interface-list">
                                <li data-ng-repeat="conn in testBench.tlsut.interfaces.connectors | orderObjectBy: 'name'">
                                    <i class="cyphy-tag gray">Connector</i> {{conn.name}}
                                    <i class="cyphy-tag purple" data-ng-repeat="port in conn.domainPorts | orderObjectBy: 'name'">
                                        {{port.type}}
                                    </i>
                                </li>
                                <li data-ng-repeat="prop in testBench.tlsut.interfaces.properties | orderObjectBy: 'name'">
                                    <i class="cyphy-tag gray">{{prop.valueType === 'Fixed' ? 'Property' : 'Parameter'}}
                                    </i>{{prop.name}} ({{prop.dataType}})</li>
                            </ul>
                        </div>
                        <div class="tb-designs">
                            <h5><strong>Matching Designs</strong></h5>
                            <ul>
                                <li data-ng-repeat="design in testBench.designs.avaliable">
                                    <a ng-click="updateTLSUT(testBench.id, design.id)" tooltip="Set as Top Level System Under Test"
                                       tooltip-placement="right"> {{designs[design.id].name}}</a>
                                </li>
                            </ul>
                            <div data-ng-show="designs[testBench.designs.selected]"> Selected :
                                {{designs[testBench.designs.selected].name}}
                                <span data-ng-show="testBench.designs.avaliable[testBench.designs.selected]"> - Matches </span>
                                <span data-ng-hide="testBench.designs.avaliable[testBench.designs.selected]"> - Does not match!</span>
                            </div>
                            <div data-ng-hide="designs[testBench.designs.selected]"> Selected : NONE</div>
                        </div>
                        <div class="tb-asset">
                            <header>
                                <h5><strong>Test Bench Files</strong></h5>
                            </header>
                            <span data-ng-show="testBench.testBenchFiles"><a href="{{testBench.testBenchFilesUrl}}">Download</a> </span>
                            <span data-ng-hide="testBench.testBenchFiles">Not provided!</span>
                        </div>
                        <div class="results">
                            <header>
                                <h5><strong>Results</strong></h5>
                            </header>
                            <span data-ng-show="testBench.results">
                                <a href="{{testBench.resultsUrl}}">Download </a>
                                <button data-ng-click="openDashboard(testBench.id)">Open Dashboard</button>
                            </span>
                            <span data-ng-hide="testBench.results">No results avaliable.</span>
                        </div>
                    </div>

                </accordion-group>
            </accordion>


            <footer>
                <time class="last-updated-time">Updated <span am-time-ago="testBench.date"></span></time>
            </footer>

        </li>
    </ul>
</section>

<!--<div class="requirements">-->
<!--<h4>Requirements</h4>-->

<!--<ul class="list-group" data-ng-repeat="requirement in requirements | orderObjectBy: 'name'">-->
<!--<li class="list-group-item" data-id="{{ requirement.id }}">-->
<!--<!-- Header -->
<!--<a class="requirement-name" href="">{{ requirement.name }}</a>-->
<!--<div>{{ requirement.description }}</div>-->

<!--<div>Updated <span am-time-ago="requirement.date"></span></div>-->
<!--<div>{{requirement.data}}</div>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
</div>
</article>