.header-buttons {

  .build-hash {
    opacity: .6;
  }

  position: absolute;
  right: 10px;
  top: 5px;
  padding-top: .4ex;

  button {
    margin-left: 1em;
  }

  .button-bordered {
    text-transform: uppercase;
  }

  button.md-raised.md-primary.md-button.md-default-theme {

    &.help {

      top: 3px;
      border-radius: 2em;
      color: #fff;
      box-shadow: none;
      background-color: transparent;

      &:hover {
        background-color: rgba(255,255,255,.13);
        color: #ffe;
      }

      i {
        font-size: 150%;
      }

    }

    &:hover {
      color: #fff;
    }

  }

  .md-button.md-default-theme.md-fab.md-primary:not([disabled]):focus, .md-button.md-default-theme.md-fab.md-primary:not([disabled]):hover, .md-button.md-default-theme.md-raised.md-primary:not([disabled]):focus, .md-button.md-default-theme.md-raised.md-primary:not([disabled]):hover {
    color: #fff;
  }
}