.testbench-result-dialog {

    h3 {
        margin-top: 0;
    }

    .result-details-summary {

        margin-top: 1em;
        border-top: 2px dotted #ddd;
        padding-left: 1em;
        padding-top: 1ex;

    }

    label {
        margin-right: 1em;
    }

    .test-bench-config-properties {
        margin-bottom: 1em;
    }

}
