.test-bench-drawer-panel {

    .row {
        margin: 0;
    }

    .item-list ul.list-group li.item-list-item {
        background-color: transparent;
        border: 1px solid rgba(143, 156, 166, 0.2);
        padding: 0 110px 0 0;
    }

    .test-bench-drawer-panel-test-list {
    }


    .test-bench-drawer-panel-result-list {
    }

    .list-header {
        padding: 0 10px;
    }

    .test-bench-result-and-time-wrapper {
        position: absolute;
        width: 100px;
        height: 100%;
        right: 0;
        top: 0;
        text-align: center;
        border-left: 1px dotted rgba(143, 156, 166, 0.2);

        .no-result {
            padding-top: 20%;
            height: 100%;
        }
    }
}
