@import '../../../styles/colors';

.keyboard-map-button {
  font-size: 200%;
  cursor: pointer;
  opacity: .5;
}

.keyboard-map-button-tooltip {
  color: $light-blue !important;

  .md-background {
    background-color: transparent !important;
  }

  margin-top: -70px;
  margin-left: 40px;

}

.keyboard-map-dialog {
    max-width: 800px;
    min-width: 600px;
    height: 600px;
    overflow: scroll;
    -ms-overflow-style: none;

  .keyboard-action,
  .keyboard-action-name,
  .keyboard-action-key {
    display: inline-block;
  }

  .keyboard-action {
    margin-right: 2.5ex;
  }

  .keyboard-actions {
    margin: 3ex 2ex;
  }

  .keyboard-action-key {
    margin: 0 .5ex;
    padding: 0 .5ex;
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #ddd;
  }

  .sub-title {
    font-size: 80%;
  }

}
