.component-browser {

//    opacity: 0;
//    transition: opacity 500ms;
//
//    &.initialized {
//        opacity: 1;
//    }

    .tree-navigator {

        margin-top: -20px;

        font-size: 95%;

        > .tree-navigator-nodes {
            overflow: auto;
            position: relative;
        }

        li {
            position: relative;

            .context-menu-trigger {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        li.has-symbol {

        }

        li.parent-node > .node-label {
            font-weight: bold;
            text-transform: uppercase;
            color: #666;
        }

//        li.parent-node.selected-node > .node-label {
//            color: #fff;
//        }

        li.leaf-node {

            .label-and-extra-info {
                display: block;
                cursor: copy;
            }

            .node-extra-info {
                display: block;
           }
        }

        .node-label:hover,
        .node-label:active {
            background-color: rgba(218, 226, 244, 0.6);
        }

        ul.node-list ul.node-list {
            padding: 0 0 0 2ex;
        }

        ul.node-list > li {
            border-bottom: 1px dotted #CDCDCD;
        }

        ul.node-list > li:last-child {
            border-bottom: none;
        }

        ul.node-list > li.leaf-node:last-child {
            margin-bottom: 1ex;
        }

        .selected-node > .node-label {
            background-color: rgba(137, 201, 255, 0.6);
        }


        svg.component-symbol {
            width: 60px;
            height: 20px;
            display: inline-block;
            margin-left: 20px;
            vertical-align: top;
        }
    }

    .component-search {
        padding-right: 3.5ex;
        padding-left: 1ex;
        width: 100%;

        input {
            width: 100%;
        }

    }

    .preferences-menu {
        margin-top: -6px;
    }

    .angucomplete-dropdown {
        width: 100%;
        box-shadow: 0 2px 3px rgba(0,0,0,.1);
        margin-top: 2px;
    }

    .angucomplete-row {
        border-bottom: 1px dotted #CDCDCD;
        color: #555;
        margin-bottom: none !important;
    }

    .angucomplete-title {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .angucomplete-selected-row,
    .angucomplete-row:hover {
        background-color: rgba(218, 226, 244, 0.6);
    }

    .total-children-count {
        display: inline;
        font-weight: normal;
    }

    .grand-total {
        font-size: 50%;
        float: right;
        margin-top: 9px;
    }

    li.paging.page-down {
        border-top: none;
    }
}
