

/* Button Styles Override 
   =========================================== */

.md-button {
	cursor: pointer;
	text-transform: capitalize;
	color: #D4D4C9;
	padding: 1ex 1em;

	border-radius: 4px;

	&:active,
	&:hover {
		color: #ffe;		
	}
}

.md-button.md-default-theme.md-primary.md-raised {

}


/* Project Button Styles
   =========================================== */

.button-bordered {
	border: 1px solid #D4D4C9;
	background-color: darken( $c-background-dark, 5% );
}

.btn-position { margin-top: -12px;}