

/* Button Styles Override 
   =========================================== */

.md-button {
	text-transform: capitalize;
	color: rgba(255,255,255,.87);
	padding: 6px 22px;

	&:active,
	&:hover {
		color: rgba(255,255,255,.87);		
	}
}

.md-button.md-default-theme.md-primary.md-raised {

}


/* Project Button Styles
   =========================================== */

.button-bordered {
	border: 1px solid $c-border-medium;
	background-color: darken( $c-background-dark, 5% );
	text-transform: uppercase;
}

.btn-position { margin-top: -12px;}