@import 'mixins';

$mmsGreen: #2ABE53;
$mmsRed: #D25261;
$fob-button-bg: #178CFF;
$light-blue: #03a9f4;


$mmsAccent: #ff7100;

$mmsBlueLight: #0c6cb8;
$mmsBlueDark: #073f96;

$mmsVeryDark: #00235B;


@mixin mmsBlueGradient() {
    @include gradient($mmsBlueLight, $mmsBlueDark, 100%);
}

