@import '_bootstrap_overrides.scss';
@import '../../../../bower_components/angular-ui-layout/ui-layout.css';

.mms-app {
  font-family: 'Titillium Web', sans-serif;
}

.main-navigator-container {
  .dropdown-navigator {
    margin-bottom: 0;
    background: linear-gradient(#fff, #eee);
    border-bottom: 1px solid #ddd;
    color: #222;

    > li {
      transition: background-color 200ms;
    }

    > li:not(.separator):hover {
      background-color: #ddd;
    }

    li.cyphy-root{
      background-image: url(./images/mms-icon.png);
      background-position: 8px 3px;
      background-repeat: no-repeat;
      .label-container {
        padding-left: 46px;
      }
    }
  }
}

h1.main-view-header {
  padding: 0px 14px;
}

.start-new-project {
  margin-left: 1ex;
}


.loading-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(150, 150, 150, .5);
  top: 0;
  left: 0;
  cursor: wait;

  .loading-message {
    position: relative;
    top: 45%;
    color: #fff;
    font-size: 200%;
    text-align: center;
  }
}

.processing-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(150, 150, 150, 0);
  top: 0;
  left: 0;
  cursor: wait;
}
