@import 'colors';
@import '_bootstrap_overrides.scss';
@import '_material_overrides.scss';
@import '../../../../bower_components/angular-ui-layout/ui-layout.css';

.mms-app {
    font-family: 'Titillium Web', sans-serif;
    overflow: hidden;
}


.md-dialog-container h1 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    padding-bottom: 0.6em;
    padding-left: 24px;
    padding-right: 24px;
    color: $mmsVeryDark
}

.md-actions {
    border-top: 1px solid #ddd;
}


.main-navigator-container {
    .dropdown-navigator {

        overflow: hidden;

        margin-bottom: 0;

        @include mmsBlueGradient();

        color: #f0f0f0;

        > li {

            padding: 0 1ex;
            transition: background-color 200ms;

            text-shadow: 0 1px 2px rgba(0, 15, 50, .35);
            font-size: 105%;

            .label-container {
              padding: .5ex .5ex;
            }

            .item-label {
                color: #fff;
            }
        }

        > li:not(.separator):not(.cyphy-root):hover {
            background-color: transparent;
            cursor: default;
        }

        li.cyphy-root {

            background-color: rgba(0,0,68,.2);

            .label-container {
                background-image: url(./images/mms-icon-bright.png);
                background-position: 8px 10px;
                background-repeat: no-repeat;

                padding-left: 46px;

                .item-label {
                    display: inline-block;
                    height: 1em;
                    font-style: italic;
                }

            }

        }
    }
}

.header {
    text-shadow: 0 1px 2px rgba(0, 15, 50, .25);
}

h1.main-view-header {
    padding: 0px 14px;
}

.header-extra {
    font-size: 60%;
    color: $mmsBlueLight;
}

.main-view-container {
    overflow: hidden;
}

.start-new-project {
    margin-left: 1ex;
}

.processing-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(150, 150, 150, 0);
    top: 0;
    left: 0;
    cursor: wait;
}

.sidebar {

    background: linear-gradient(to bottom, #fff, #f5f5f5);
    border-left: 1px solid rgba(0,0,0,.12);

    h2 {
        padding: 1ex 1ex;
        margin: 0;
        color: #555;
    }

    overflow: hidden;
}

.on-drag-enter {
    background-color: #d8fff8;
}

.on-drag-hover {
    background-color: #c8fcff;
    cursor: copy;
}

.drag-handle {
}

.badge {
    background-color: #E7EBF6;
    color: rgb(102, 102, 102);
}

md-toast.success {
    background-color: $mmsGreen !important;

    .md-button.md-default-theme.md-raised {
        margin-left: 20px;
        background-color: rgba(0, 111, 10, 1);
    }

}

md-toast.failure {
    background-color: $mmsRed !important;

    .md-button.md-default-theme.md-raised {
        margin-left: 20px;
        background-color: #6F1900;
    }

}

md-tabs.md-default-theme .md-header {
    @include mmsBlueGradient();
}

md-tab {
    cursor: pointer;
}

md-tabs.md-default-theme md-tabs-ink-bar {
    color: $mmsAccent;
    background-color: $mmsAccent;
}

.md-dialog-container {
    background-color: rgba(0,0,0,.6) !important;
}

img.scale-it {
    max-width: 100%;
}

img.bordered {
    border: 1px solid #ddd;
}

.about-dialog {
    max-width: 800px;
}
