.main-navigator-container {

  .dropdown-navigator {
    background: linear-gradient(#fff, #eee);
    border-bottom: 1px solid #ddd;
    color: #222;

    > li:not(.separator):hover {
      color: #fff;
      background-color: #222;
    }

    li.cyphy-root{
      background-image: url(../images/cyphy-icon.png);
      background-position: 8px 3px;
      background-repeat: no-repeat;
      .label-container {
        padding-left: 46px;
      }
    }
  }
}
body.loading {
  .main-navigator-container {
    li.cyphy-root{
      background-image: url(../images/cyphy-icon.png);
    }
  }
}

.server-info {
  font-size: 80%;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 94%;
  min-height: 100%;
  margin: 0 auto -155px;
}
