<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">


    <!-- Include CSS library dependencies -->
    <% _.forEach(styles, function(style) { %><link rel="stylesheet" type="text/css" href="<%- style %>">
    <% }); %>

    <title></title>
</head>
<body on-gme-init="angular.bootstrap(document, ['CyPhyApp']);">

<!-- Include library dependencies -->
<% _.forEach(scripts, function(script) { %><script src="<%- script %>"></script>
<% }); %>

<!-- Include application -->
<script src="<%= appFilePath %>"></script>

</body>
</html>
