<g class="symbol-parts">
    <rect class="box-box silhouette"
          ng-attr-x="{{::component.symbol.portWireLength}}"
          ng-attr-y="{{::component.symbol.portWireLength}}"
          ng-attr-width="{{::component.symbol.boxWidth}}"
          ng-attr-height="{{::component.symbol.boxHeight}}"/>


    <!--<circle ng-attr-cx="{{::(component.symbol.boxWidth/2 + component.symbol.portWireLength)}}"-->
            <!--ng-attr-cy="{{::component.symbol.portWireLength}}"-->
            <!--r="8"/>-->

    <line class="port-wire"
          ng-repeat="wire in ::portWires"
          ng-attr-x1="{{::wire.x1}}"
          ng-attr-y1="{{::wire.y1}}"
          ng-attr-x2="{{::wire.x2}}"
          ng-attr-y2="{{::wire.y2}}"
            ></line>
</g>
