<md-dialog
    class="testbench-result-dialog">
    <h1 class="md-sticky-no-effect">{{result.name}}
        <span class="header-extra" am-time-ago="result.timestamp"></span>
    </h1>
    <ul class="testbench-attachments-links">
        <li data-ng-repeat="attachment in result.attachments">
            <md-button class="md-raised md-primary"
                ng-href="{{attachment.url}}"
                target="_blank"
                ><i class="fa fa-cloud-download"></i> {{attachment.name}}</md-button>
        </li>
    </ul>
    <md-content>
        <div class="result-container">
            <div layout="column" flex="100">
                <div class="testbench-visual-container" flex>
                    <a ng-href="{{result.visualUrl}}" target="_blank" title="Open in new window">
                        <img class="testbench-visual" ng-src="{{result.visualUrl}}"/>
                    </a>
                </div>
            </div>
        </div>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="close()" class="md-primary">
            Close
        </md-button>
    </div>
</md-dialog>
