.primitive-grid {

	font-size: 80%;
    line-height: 110%;
    padding-top: 45px;

	.primitive-grid-item {
			
		display: inline-block;
		white-space: nowrap;
		margin-bottom: 1em;
		margin-right: 1em;
		border: white solid 1px;
		
		.primitive-name {
			
			font-weight: bold;
			/*max-width: 200px;*/
			padding-bottom: 6px;
		}

		.primitive-description {
			
			text-align: left;
			/*max-width: 200px;*/		
		}

	}


}
