<div class="test-bench-view">
    <h1 class="main-view-header">Test Bench - {{dataModels.testBench.name}}</h1>
    <div class="test-bench-designs col-lg-4">
        <h3><span class="fa fa-cubes"></span> Avaliable Designs</h3>
        <design-list data-connection-id="'my-db-connection-id'" workspace-id=workspaceId used-by-test-bench="true"></design-list>
    </div>
    <div class="configurations-actions col-lg-4">
        <h3><span class="glyphicon glyphicon-th"></span>
            Configurations
            <span class="configuration-buttons">
                <button ng-disabled="dataModels.configurations.length === 0" class="btn btn-default btn-sm" ng-click="runTestBench()">Run</button>
                <configuration-set-selector ng-if="dataModels.testBench.tlsutId" design-id="dataModels.testBench.tlsutId" connection-id="'my-db-connection-id'"></configuration-set-selector>
            </span>
        </h3>
        <div ng-show="!dataModels.testBench.tlsutId">Select a Top Level System Under Test...</div>
        <div ng-show="dataModels.testBench.tlsutId && dataModels.configurations.length === 0">Select a set (if avaliable)..</div>
        <configuration-table ng-if="dataModels.configurations.length > 0"
                             configurations="dataModels.configurations"
                             set-name="dataModels.setName"></configuration-table>
    </div>
    <div class="test-bench-workers col-lg-4">
        <h3><span class="fa fa-suitcase"></span> Workers Overview</h3>
        <workers-list></workers-list>
    </div>
</div>