.new-wire-line {
  stroke-width: 1;
  stroke: #000066;
}

.component-wire {

  .component-wire-segment {

    .component-wire-segment-segment {

      stroke-width: 1;
      stroke: #000066;


    }

    .component-wire-segment-under {

      stroke-width: 5;
      stroke: rgba(0, 0, 0, 0);


    }

  }


  .component-wire-corner {
    display: none;
  }

  &:hover {
    .component-wire-corner {
      display: block;
    }

    .component-wire-corner:hover {
      fill: #ff7100;
    }

  }
}

.diagram-container.editable {

  .component-wire {

    cursor: pointer;

    .component-wire-segment:hover {

      .component-wire-segment-segment {

        stroke: #ff7100;

      }

    }

  }
}
