.symbol {

    &.rotated-180 .component-label-wrapper {
        -ms-transform:rotate(180deg);
        /*-moz-transform:rotate(180deg);*/
        -webkit-transform:rotate(180deg);
        -o-transform:rotate(180deg);
        /*transform: rotate(180deg);*/
    }

    &.rotated-90 .component-label-wrapper {
        -ms-transform:rotate(0deg);
        /*-moz-transform:rotate(0deg);*/
        -webkit-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        /*transform: rotate(0deg);*/
    }

    &.rotated-270 .component-label-wrapper {
        -ms-transform:rotate(0deg);
        /*-moz-transform:rotate(0deg);*/
        -webkit-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        /*transform: rotate(0deg);*/
    }

    .component-label-wrapper {
        -ms-transform-origin: center center;
        -webkit-transform-origin: center center;
        /*
            Uncomment once Firefox supports SVG transform origin
            transform-origin: center center;
        */
    }

    .component-label {
        fill: #555;
        font-weight: bold;
        font-size: 85%;
    }

    .selected-symbol-boundary {
        fill: rgba(255, 255, 255, .7);
        stroke: #ff7100;
        stroke-dasharray: 1;

        display: none;
    }

    &.selected {

        .selected-symbol-boundary {
            display: block;
        }

    }

    .symbol-area {
        fill: transparent;
    }

    &.selected,
    &:not(.no-hover) {
        &:hover {

            cursor: pointer;
            //cursor: url(images/openhand.cur) 4 4, pointer;

            .component-label {
                fill: #ff7100;
            }

            .silhouette {

                stroke: #ff7100;

            }
        }
    }

    &.drag-entered {
        .silhouette {
            fill: rgba(33, 150, 243, .25);
        } 
    }

}
