.component-browser {

    .tree-navigator {

        margin-top: -20px;

        font-size: 95%;

        li.parent-node > .node-label {
            font-weight: bold;
            text-transform: uppercase;
            color: #666;
        }

    }

    .component-search {
        padding-right: 4ex;
        padding-left: 1ex;
        width: 100%;

        input {
            width: 100%;
        }

    }

    .preferences-menu {
        margin-top: -6px;
    }

    .angucomplete-dropdown {
        width: 240px;
    }

    .angucomplete-selected-row, .angucomplete-row:hover {
        background-color: #aaa;
    }

}
