.component-browser {

    .tree-navigator {

        margin-top: -20px;

        font-size: 95%;

        li.parent-node > .node-label {
            font-weight: bold;
            text-transform: uppercase;
            color: #666;
        }

//        li.parent-node.selected-node > .node-label {
//            color: #fff;
//        }

        li.leaf-node .node-extra-info {
            display: block;
        }

        .node-label:hover,
        .node-label:active {
            background-color: #DEDFE2;
        }

        ul.node-list ul.node-list {
            padding: 0 0 0 1ex;
        }

        ul.node-list > li {
            border-bottom: 1px dotted #CDCDCD;
        }

        ul.node-list > li:last-child {
            border-bottom: none;
        }

        ul.node-list > li.leaf-node:last-child {
            margin-bottom: 1ex;
        }

        .selected-node > .node-label {
            background-color: rgba(218, 226, 244, 0.6);
        }

    }

    .component-search {
        padding-right: 3.5ex;
        padding-left: 1ex;
        width: 100%;

        input {
            width: 100%;
        }

    }

    .preferences-menu {
        margin-top: -6px;
    }

    .angucomplete-dropdown {
        width: 100%;
    }

    .angucomplete-row {
        border-bottom: 1px dotted #CDCDCD;
        color: #555;
        margin-bottom: none !important;
    }

    .angucomplete-selected-row,
    .angucomplete-row:hover {
        background-color: rgba(218, 226, 244, 0.6);
    }

    .total-children-count {
        font-weight: normal;
    }

}
