$wire-selected-color: rgb(30,136,229);

.new-wire-line {
  stroke-width: 1;
  stroke: #000066;
}

.component-wire {

  .small {
    font-size: 8px;
  }

  .component-wire-segment {

    .component-wire-segment-segment {

      stroke-width: 1;
      /*stroke: #000066;*/
      stroke: #0010B0;
      fill: none;
    }

    .component-wire-segment-under {

      stroke-width: 5;
      stroke: rgba(0, 0, 0, 0);

    }

    &.hover {

      .component-wire-segment-segment {
        stroke: #ff7100;
      }

    }

  }

  &.selected {

    .component-wire-segment-segment {
      stroke: $wire-selected-color;
    }

  }

  &.locked {

    .component-wire-segment-segment {
      stroke: #000000;
    }

  }

  .component-wire-corner {

    &.selected {
      fill: #ff7100;
    }

    fill: wire-selected-color;
  }

  &:hover {
    .component-wire-corner {
      display: block;
    }

    .component-wire-corner:hover {
      fill: #ff7100;
    }

  }

  &.highlight .component-wire-segment-segment {

      stroke: #ff7100;

    }
}

.diagram-container.editable {

  .component-wire {

    cursor: pointer;

    .component-wire-segment:hover {

      .component-wire-segment-segment {

        stroke: #ff7100;

      }

    }

  }
}
