.svg-diagram-wrapper {
    .svg-diagram {
        width: 100%;
        height: 100%;
        &.drop-target {
            background-color: rgba(33, 150, 243, .15);
        }
        &.drag-entered {
            background-color: rgba(33, 150, 243, .25);
            cursor: copy;
        }
        &.pannable {
            cursor: url(../images/openhand.cur) 4 4, move !important;
        }
        &.panning {
            cursor: url(../images/closedhand.cur) 4 4, move !important;
        }
        &.dragging * {
            cursor: move !important;
        }
    }
    .drawn-selection {
        fill: rgba(251, 114, 34, .015);
        stroke: rgb(251, 114, 34);
        stroke-width: 1px;
        stroke-dashoffset: 2px;
        stroke-dasharray: 4 2;
    }
}
