article.workspace-details {
  margin: 1em;
  padding: 0 1em 1em;
  min-width: 500px; }
  article.workspace-details form .row {
    margin-bottom: 1.5ex; }
  article.workspace-details .export-button {
    display: none;
    font-size: 75%; }
  article.workspace-details li:hover .export-button {
    display: block; }
  article.workspace-details .control-buttons {
    position: absolute;
    right: 0;
    top: 0;
    display: none; }
  article.workspace-details .list-group-item:hover .control-buttons {
    display: block; }
  article.workspace-details .last-updated-time {
    font-size: 80%;
    color: #999; }
  article.workspace-details .control-buttons .dropdown-toggle {
    border-color: #ddd;
    border-top: 0;
    border-right: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0; }
  article.workspace-details .control-buttons a {
    cursor: pointer; }
  article.workspace-details .control-buttons .btn-group.open .dropdown-toggle {
    box-shadow: none;
    border-color: #ddd; }
  article.workspace-details .stats {
    position: absolute;
    bottom: 0;
    right: 0.4ex;
    font-size: 88%; }
    article.workspace-details .stats li.list-group-item {
      border: none;
      background-color: transparent;
      opacity: .92;
      padding: 1ex .2ex; }
    article.workspace-details .stats .count {
      margin-left: 0.5ex; }
  article.workspace-details .details {
    margin: 1.5ex 0;
    color: #666; }
  article.workspace-details .label.white-bg {
    color: #333; }
  article.workspace-details .details-accordion .panel-heading {
    border: none;
    background-image: none;
    padding: 0.5ex;
    background-color: transparent; }
  article.workspace-details .details-accordion .panel-title {
    cursor: pointer;
    font-size: 85%; }
  article.workspace-details .cyphy-tag {
    display: inline-block;
    font-weight: 500;
    font-size: 75%;
    padding: 0.6ex;
    border-radius: 0ex; }
    article.workspace-details .cyphy-tag.dark-blue {
      color: #FFF;
      background-color: #407DD9; }
      article.workspace-details .cyphy-tag.dark-blue:hover {
        background-color: #0052CC; }
    article.workspace-details .cyphy-tag.green {
      color: #FFF;
      background-color: #40B240; }
      article.workspace-details .cyphy-tag.green:hover {
        background-color: #009800; }
    article.workspace-details .cyphy-tag.orange {
      color: #000;
      background-color: #F08B58; }
      article.workspace-details .cyphy-tag.orange:hover {
        background-color: #EB6420; }
    article.workspace-details .cyphy-tag.yellow {
      color: #000;
      background-color: #FCD743; }
      article.workspace-details .cyphy-tag.yellow:hover {
        background-color: #FBCA04; }
    article.workspace-details .cyphy-tag.purple {
      color: #FFF;
      background-color: #7E52ED; }
      article.workspace-details .cyphy-tag.purple:hover {
        background-color: #5319E7; }
    article.workspace-details .cyphy-tag.gray {
      color: #000;
      background-color: #E5E5E5; }
      article.workspace-details .cyphy-tag.gray:hover {
        background-color: #B7B7B7; }
