article.workspace-details {

  margin: 1em;
  padding: 0 1em 1em;
  min-width: 500px;

  .domain-models {
    border-radius: 1.25em;
  }


  form .row {
    margin-bottom: 1.5ex;
  }

  .export-button {
    display: none;
    font-size: 75%;
  }

  li:hover .export-button {
    display: block;
  }


  .control-buttons {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }


  .list-group-item:hover {
    .control-buttons {
      display: block;
    }

  }

  .last-updated-time {
    font-size: 80%;
    color: #999;
  }

  .control-buttons {
    .dropdown-toggle {
      border-color: #ddd;
      border-top: 0;
      border-right: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    a {
      cursor: pointer;
    }

    .btn-group.open {
      .dropdown-toggle {
        box-shadow: none;
        border-color: #ddd;
      }
    }

  }

  .stats {
    position: absolute;
    bottom: 0;
    right: 0.4ex;

    font-size: 95%;

    li.list-group-item {
      border: none;
      background-color: transparent;
      opacity: .92;
      padding: 1ex .2ex;
    }

    .count {
      margin-left: 0.5ex;
    }
  }

  .details {
    margin: 1.5ex 0;
    color: #666;
  }

  .label.white-bg {
    color: #333;
  }


}


