article.workspace {
  margin: 1em;
  padding: 1em;
  min-width: 600px; }
  article.workspace .nav, article.workspace .pagination, article.workspace .carousel, article.workspace .panel-title a {
    cursor: pointer; }
  article.workspace form .row {
    margin-bottom: 1.5ex; }
  article.workspace .edit-workspace-description {
    resize: vertical;
    height: 5em;
    max-height: 20em; }
  article.workspace .last-updated-time {
    font-size: 80%;
    color: #999; }
  article.workspace .control-buttons {
    position: absolute;
    right: 0;
    top: 0;
    display: none; }
  article.workspace .list-group-item {
    padding: 2ex 1em; }
    article.workspace .list-group-item.dragover {
      border: 1px dashed #666; }
      article.workspace .list-group-item.dragover.bg-success {
        background-color: #dff0d8; }
      article.workspace .list-group-item.dragover.bg-danger {
        background-color: #f2dede; }
  article.workspace .drop-box {
    padding: 2ex 1em;
    border: 1px solid transparent; }
    article.workspace .drop-box.dragover {
      border: 1px dashed #666; }
      article.workspace .drop-box.dragover.bg-success {
        background-color: #dff0d8; }
      article.workspace .drop-box.dragover.bg-danger {
        background-color: #f2dede; }
  article.workspace .file-list {
    padding: 0ex; }
    article.workspace .file-list .file-list-item {
      display: block;
      padding: 0.3ex 0ex; }
      article.workspace .file-list .file-list-item a {
        padding: 0ex 0.5ex; }
      article.workspace .file-list .file-list-item .fa.fa-cubes {
        font-size: 91%; }
      article.workspace .file-list .file-list-item .fa.fa-bar-chart-o {
        font-size: 118%; }
      article.workspace .file-list .file-list-item .glyphicon.glyphicon-saved {
        font-size: 120%; }
      article.workspace .file-list .file-list-item .glyphicon.glyphicon-file {
        font-size: 120%; }
  article.workspace .list-group-item:hover .control-buttons {
    display: block; }
  article.workspace .control-buttons .dropdown-toggle {
    border-color: #ddd;
    border-top: 0;
    border-right: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0; }
  article.workspace .control-buttons a {
    cursor: pointer; }
  article.workspace .btn-group.open .dropdown-toggle {
    box-shadow: none;
    border-color: #ddd; }
  article.workspace .stats {
    position: absolute;
    bottom: 0;
    right: 1em;
    font-size: 95%; }
    article.workspace .stats li.list-group-item {
      border: none;
      background-color: transparent;
      opacity: .62;
      padding: 1ex; }
    article.workspace .stats .count {
      margin-left: 0.5ex; }
  article.workspace .fa {
    font-size: 126%; }
    article.workspace .fa.copy-icon {
      font-size: 100%; }
  article.workspace .details {
    margin: 1.5ex 0;
    color: #666; }
  article.workspace .form-footer {
    margin-top: 1.5em; }
  article.workspace .workspace-metadata-editor {
    padding-top: 1ex; }
