
article.workspace {
  margin: 1em;
  padding: 1em;
  min-width: 500px;

  .nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
  }

  form .row {
    margin-bottom: 1.5ex;
  }

  .edit-workspace-description {
    resize: vertical;
    height: 5em;
    max-height: 20em;
  }

  .last-updated-time {
    font-size: 80%;
    color: #999;
  }

  .control-buttons {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }

  .list-group-item {
    padding: 2ex 1em;

    &.dragover {
      border: 1px dashed #666;

      &.bg-success {
        background-color: #dff0d8;
      }

      &.bg-danger {
        background-color: #f2dede;
      }
    }

  }

  .drop-box {
    padding: 2ex 1em;
    border: 1px solid transparent;
    &.dragover {
      border: 1px dashed #666;

      &.bg-success {
        background-color: #dff0d8;
      }
      &.bg-danger {
        background-color: #f2dede;
      }
    }
  }

  .file-list {
    padding: 0ex;

    .file-list-item {
      display: block;
      padding: 0.3ex 0ex;

      a {
        padding: 0ex 0.5ex;
      }

      .fa.fa-cubes {
        font-size: 91%;
      }
      .fa.fa-bar-chart-o {
        font-size: 118%;
      }
      .glyphicon.glyphicon-saved {
        font-size: 120%;
      }
      .glyphicon.glyphicon-file {
        font-size: 120%;
      }
    }
  }

  .list-group-item:hover {
    .control-buttons {
      display: block;
    }

  }

  .control-buttons {
    .dropdown-toggle {
      border-color: #ddd;
      border-top: 0;
      border-right: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    a {
      cursor: pointer;
    }
  }

  .btn-group.open {
    .dropdown-toggle {
      box-shadow: none;
      border-color: #ddd;
    }
  }

  .stats {
    position: absolute;
    bottom: 0;
    right: 1em;

    font-size: 95%;

    li.list-group-item {
      border: none;
      background-color: transparent;
      opacity: .62;

      padding: 1ex;
    }

    .count {
      margin-left: 0.5ex;
    }
  }

  .fa {
    font-size: 126%;

    &.copy-icon {
      font-size: 100%;
    }
  }

  .details {
    margin: 1.5ex 0;
    color: #666;
  }

  .form-footer {
    margin-top: 1.5em;
  }

  .workspace-metadata-editor {
    padding-top: 1ex;
  }

  .server-info {
      font-size: 80%;
      text-align: center;
      position: absolute;
      bottom: 0;
      width: 94%;
  }
}