<div>
    <h1>Workspace details</h1>
    <div class="components col-lg-4">
        <component-list data-connection-id="'my-db-connection-id'" workspace-id=dataModel.workspaceId></component-list>
    </div>
    <div class="components col-lg-4">
        <component-list data-connection-id="'my-db-connection-id'" workspace-id=dataModel.workspaceId></component-list>
    </div>
    <div class="components col-lg-4">
        <component-list data-connection-id="'my-db-connection-id'" workspace-id=dataModel.workspaceId></component-list>
    </div>
</div>