.main-navigator-container .dropdown-navigator {
  background: linear-gradient(white, #eeeeee);
  border-bottom: 1px solid #ddd;
  color: #222; }
  .main-navigator-container .dropdown-navigator > li:not(.separator):hover {
    color: #fff;
    background-color: #222; }
  .main-navigator-container .dropdown-navigator li.cyphy-root {
    background-image: url(./images/cyphy-icon.png);
    background-position: 8px 3px;
    background-repeat: no-repeat; }
    .main-navigator-container .dropdown-navigator li.cyphy-root .label-container {
      padding-left: 46px; }

h1.main-view-header {
  padding: 0px 14px; }
