<div class="design-selector">
    <h1 class="md-sticky-no-effect">Demo designs</h1>
    <md-content>
        <ul class="design-list">
            <li class="design-tile"
                ng-repeat="design in ctrl.designs"
                ng-click="ctrl.openDesign(design.id)"
                md-rowspan="1">
                <h3 class="design-tile-header">{{design.name}}</h3>
                <div class="design-description">
                    <div class="open-tip">
                        <i class="open-icon glyphicon glyphicon-chevron-right"></i>
                        <div class="open-label">Open in editor</div>
                    </div>
                    <div class="design-visual-container">
                        <img class="design-visual" ng-attr-src="{{design.visual}}"/>
                    </div>
                    {{design.description}}
                </div>
            </li>
        </ul>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="ctrl.close()" class="md-primary">
            Close
        </md-button>
    </div>
</div>
