<div class="design-selector">
    <h1 class="md-sticky-no-effect">Demo designs</h1>
    <md-content>
        <div ng-if="ctrl.isWelcomeScreen" class="welcome-message">
            <h2>Hey there!</h2>
            <p>
                Select one of the featured projects below to get started.
                If you'd like to take a look at some other designs in the works,
                choose one of the experimental projects. But beware, These may
                result in a bug or two!
            </p>
        </div>
        <div class="design-group" ng-class="group.id" ng-repeat="group in ctrl.designs">
            <h3 class="design-group-label">{{group.label}}</h3>
            <ul class="design-list">
                <li class="design-tile"
                    ng-repeat="design in group.designs"
                    ng-click="ctrl.openDesign(design.id)"
                    md-rowspan="1">
                    <h3 class="design-tile-header">{{design.name}}</h3>
                    <div class="design-description">
                        <div class="open-tip">
                            <i class="open-icon glyphicon glyphicon-chevron-right"></i>
                            <div class="open-label">Open in editor</div>
                        </div>
                        <div class="design-visual-container">
                            <img class="design-visual" ng-attr-src="{{design.visual}}"/>
                        </div>
                        {{design.description}}
                    </div>
                </li>
            </ul>
        </div>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="ctrl.close()" class="md-primary" ng-if="!ctrl.isWelcomeScreen">
            Close
        </md-button>
    </div>
</div>
