<g class="component-wire-segment"
   ng-click="onSegmentClick(wire, segment)">
      <line class="component-wire-segment-under"
            ng-attr-x1="{{segment.x1}}"
            ng-attr-y1="{{segment.y1}}"
            ng-attr-x2="{{segment.x2}}"
            ng-attr-y2="{{segment.y2}}"/>

      <line class="component-wire-segment-segment"
            ng-attr-x1="{{segment.x1}}"
            ng-attr-y1="{{segment.y1}}"
            ng-attr-x2="{{segment.x2}}"
            ng-attr-y2="{{segment.y2}}"/>
</g>
