<div class="diagram-component-inspector">
    <div ng-if="!ctrl.inspectable" class="no-inspectable-message">{{::ctrl.config.noInspectableMessage}}</div>
    <div ng-if="ctrl.inspectable">
        <div class="inspectable-name">
            <a href="#" editable-text="ctrl.inspectable.label" onbeforesave="ctrl.isNameValid($data)" onaftersave="ctrl.commitName()">
  				{{ ctrl.inspectable.label || "empty" }}
  			</a>
            <div class="original-name" ng-if="ctrl.inspectable.details.acmInfo.name">
            </div>
            <div class="taxonomy-terms classification-tags">
                <div class="taxonomy-term" ng-repeat="term in ctrl.inspectable.classificationTags" ng-class="term.id">{{::term.name}}
                </div>
            </div>
        </div>
        <div class="inspectable-details">
            <inspected-component-details ng-if="ctrl.inspectable.details.acmInfo"
                                         component="ctrl.inspectable"></inspected-component-details>
            <inspected-container-details ng-if="ctrl.inspectable.metaType == 'Container'"
                                         container="ctrl.inspectable"></inspected-container-details>
        </div>
        <info-button ng-if="ctrl.inspectable.infoUrl" label="'View on Octopart'" ng-click="ctrl.openInfo()"></info-button>        
    </div>
</div>
