<div class="diagram-component-inspector">
	<div ng-if="!ctrl.inspectable" class="no-inspectable-message">{{::ctrl.config.noInspectableMessage}}</div>
	<div ng-if="ctrl.inspectable">
		<div class="inspectable-name">
  			<a href="#" editable-text="ctrl.inspectable.label"
  				onbeforesave="ctrl.isNameValid($data)"
  				onaftersave="ctrl.commitName()">
  				{{ ctrl.inspectable.label || "empty" }}
  			</a>			
		</div>
		<div class="inspectable-details" ng-switch="ctrl.inspectable.metaType">
		</div>		
	</div>
</div>