@import '../../../styles/colors';

.testbench-actions {

    width: 56px;
    height: 56px;

    position: absolute;

    right: 28%;
    bottom: 28px;

    button.md-primary.md-fab.md-fab-bottom-right.run-button.md-button {

        right: 0;
        bottom: 0;

        background-color: $fob-button-bg;
        font-size: 140%;
        line-height: 140%;

        &:hover {
            background-color: #ff7100 !important;
        }
    }

    .md-gap,
    .md-half-circle {
        background-color: rgba(255, 255, 255, .4) !important;
    }

    .run-button,
    .testbench-busy {
        right: 0;
        position: absolute;
    }

    .available-results-button {
        position: absolute;
        top: 10px;
        margin-left: 0;

        left: 0;
        opacity: 0;

        transition: left 200ms, opacity 200ms;

        .available-results-stick {
            background-color: $light-blue;
            height: 2px;
            width: 40px;
            position: absolute;
            top: 50%;
        }

        button {
            margin-left: 20px;
        }
    }

}

.testbench-actions:hover .available-results-button {
    left: 100%;
    opacity: 1;
}

.testbench-actions-tooltip {

    color: $light-blue !important;

    .md-background {
        background-color: transparent !important;
    }

}

.testbench-result-dialog {

    .testbench-visual {
        max-width: 100%;
    }

    .testbench-attachments-links {

        margin-top: 9px;

        list-style-type: none;
        padding-right: 0;

        li {
            display: inline-block;

            a, a:hover {
                text-decoration: none;
            }
        }
    }

    .result-header {
        position: relative;
    }
}
