.decorated-port {

    .port-shape {
        rect.decorated-port-box {
            fill: #93A0B5;
        }
    }

    &:hover {
        .port-shape {

            rect {
                fill: #ff7100;
            }
        }
    }
}


.symbol:hover {
    rect.port-side {
        fill: #ff7100;
    }
}
