.decorated-port {

    .port-shape {
        path.decorated-port-box {
//            fill: #93A0B5;
        }
    }

    .decorator-label {
        fill: #fff;
        font-size: 8px;
        text-anchor: middle;
        font-weight: bold;
    }

    &:hover {
        .port-shape {

            path {
                fill: #ff7100;
            }
        }
    }
}


//.symbol:hover {
//    rect.port-side {
//        fill: #ff7100;
//    }
//}

.UART {
    .decorator-label {
        font-size: 7px;
    }
}

.SPI,
.SPI_ThreeWire {
    .decorator-label {
        font-size: 9px;
    }
}

.supply-single-symbol:hover {
    path.bg-part {
        fill: #ff7100;
    }
}
