.port {

  .port-label {
    fill: #555;
    font-size: 70%;
  }

  .port-shape {
     transition: fill 200ms;
    cursor: crosshair;
  }

  .port-shape:hover {
    fill: #ff7100;
  }

  &.right {

      .port-label {
          text-anchor: end;
      }

  }

  &.faded {
      .port-shape {
        fill: #ddd;
      }

  }

  &.highlight {
    .port-shape {
      .decorated-port-box {
        fill: #FF9C4D;
      }
    }
    .bg-part {
      fill: #FF9C4D;
    }
  }

}
