.port {

  .port-label-wrapper {
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center;

    .rotated-180 & {
      -ms-transform:rotate(180deg);
      -moz-transform:rotate(180deg);
      -webkit-transform:rotate(180deg);
      -o-transform:rotate(180deg);
      transform: rotate(180deg);
    }

    .rotated-90 & {
      -ms-transform:rotate(0deg);
      -moz-transform:rotate(0deg);
      -webkit-transform:rotate(0deg);
      -o-transform:rotate(0deg);
      transform: rotate(0deg);
    }

    .rotated-270 & {
      -ms-transform:rotate(0deg);
      -moz-transform:rotate(0deg);
      -webkit-transform:rotate(0deg);
      -o-transform:rotate(0deg);
      transform: rotate(0deg);
    }
  }

  .port-label {
    fill: #555;
    font-size: 70%;
  }

  &:not(.no-hover) {
    .port-shape {
       transition: fill 200ms;
      cursor: crosshair;
    }
  }
  
  &:not(.no-hover) {
    .port-shape:hover {
      fill: #ff7100;
    }
  }

  &.right {

      .port-label {
          text-anchor: end;
      }

  }

  &.faded {
      .port-shape {
        fill: #ddd;
      }

  }

  &.highlight-direct {
    .port-shape {
      fill: #ff7100;

      .decorated-port-box {
        fill: #ff7100;
      }
    }
    .bg-part {
      fill: #ff7100;
    }
  }

  &.highlight-indirect {
    .port-shape {
      fill: #3399FF;

      .decorated-port-box {
        fill: #3399FF;
      }

    }
    .bg-part {
      fill: #3399FF;
    }
  }

}
