.textual-port-type {

    text-transform: uppercase;

    .port-type-text-box {
        fill: #6D7C8E;
    }
}

.GPIO {
    .port-type-text-box {
        fill: #6D8E8C;
    }
}

.SPI2 {
    .port-type-text-box {
        fill: #707949;
    }
}

.SPI3 {
    .port-type-text-box {
        fill: #8B965C;
    }
}

.I2C {
    .port-type-text-box {
        fill: #885F77;
    }
}
