<div class="primitive-config">
    <div class="primitive-properties-wrapper"
        ng-class="{'editable': !ctrl.readOnly}">
        <div
        ng-if="::ctrl.config.length"
        class="primitive-config-properties">
            <form name="propertiesForm" ng-if="::!ctrl.readOnly">
                <ul class="configurable-properties">
                    <li ng-repeat="prop in ctrl.config | filter:prop.readOnly === false">
                        <label>{{::prop.label}}:</label>
                        <input ng-if="!prop.readOnly" ng-model="prop.value"/>
                        <span ng-if="prop.readOnly">{{::prop.value}}</span>
                    </li>
                </ul>
                <ul class="non-configurable-properties">
                    <li ng-repeat="prop in ctrl.config | filter:prop.readOnly === true">
                        <label>{{::prop.label}}:</label>
                        <span ng-if="prop.readOnly">{{::prop.value}}</span>
                    </li>
                </ul>
                <div class="save-button-container">
                    <button
                        ng-disabled="propertiesForm.$pristine"
                        class="md-raised md-button save-button" ng-click="::ctrl.config.save(); propertiesForm.$setPristine();">
                        Create
                    </button>
                </div>
            </form>
        </div>
        <div
            ng-if="::!ctrl.config">
            No properties.
        </div>
    </div>
</div>