<div class="social-media-buttons">
    <ul>
        <li>
            <div gplus class="g-plus" data-size="tall" data-annotation="bubble" data-href='http://mmsapp.metamorphsoftware.com/dispatch/mmsapp' data-action='share'></div>
        </li>
        <li>
            <a facebook class="facebookShare" data-url='http://mmsapp.metamorphsoftware.com/dispatch/mmsapp' data-shares='shares'>{{ shares }}</a>
        </li>
        <li>
            <a twitter  data-lang="en" data-count='horizontal' data-url='http://mmsapp.metamorphsoftware.com/dispatch/mmsapp' data-via='metamorphTN' data-size="medium" data-text='Come and create an ARA module design!' ></a>
        </li>
    </ul>
</div>
