<div class="svg-diagram-wrapper"
    ng-mousemove="onDiagramMouseMove($event)"
    ng-mouseleave="onDiagramMouseLeave($event)"
    ng-click="onDiagramClick($event)"
    ng-mouseup="onDiagramMouseUp($event)"
    ng-mousedown="onDiagramMouseDown($event)"
    msd-wheel="onDiagramMouseWheel($event, $delta, $deltaX, $deltaY)"
>

    <svg class="svg-diagram"
        isis-contextmenu
        contextmenu-data="contextMenuData"
        contextmenu-config="{ triggerEvent: 'openContextMenu' }"
        ng-class="getCssClass()"
        >
        <g class="wire-container">
            <component-wire ng-repeat="wire in visibleObjects.wires track by wire.id" wire="wire"></component-wire>
        </g>
        <g class="component-container">
            <component-symbol ng-repeat="component in visibleObjects.components track by component.id" component="component"></component-symbol>
        </g>

        <g class="new-wire-line" ng-if="newWireLine">
            <line ng-repeat="segment in newWireLine.segments"
                  ng-attr-x1="{{segment.x1}}"
                  ng-attr-y1="{{segment.y1}}"
                  ng-attr-x2="{{segment.x2}}"
                  ng-attr-y2="{{segment.y2}}"/>
        </g>
        <g class="sweepLine-container">
            <line style="stroke-width: 1; stroke: #07D34F;"
                  ng-repeat="segment in diagram.sweepLines"
                  ng-attr-x1="{{segment.x1}}"
                  ng-attr-y1="{{segment.y1}}"
                  ng-attr-x2="{{segment.x2}}"
                  ng-attr-y2="{{segment.y2}}"/>
        </g>
        <g class="sweepPoint-container">
            <circle style="stroke-width: 1; stroke: #FF0505;"
                  ng-repeat="point in diagram.sweepPoints"
                  ng-attr-cx="{{point.x}}"
                  ng-attr-cy="{{point.y}}"
                  ng-attr-r="{{5}}"/>
        </g>
        <g class="optimalConnections-container">
            <line style="stroke-width: 1; stroke: #0000FF;"
                  ng-repeat="segment in diagram.optimalConnections"
                  ng-attr-x1="{{segment.x1}}"
                  ng-attr-y1="{{segment.y1}}"
                  ng-attr-x2="{{segment.x2}}"
                  ng-attr-y2="{{segment.y2}}"/>
        </g>        
    </svg>
</div>
