<div class="analog-electronic-simulation-result-details">
    <div class="details-container" ng-if="ctrl.inspectedWire">
        <span class="result-detail-description"> {{ctrl.getDetailDescription()}} </span>
        <table>
            <thead><tr><th>Name</th><th>Min voltage</th><th>Max Voltage</th><th></th></tr></thead>
        <tr ng-repeat="port in ctrl.ports">
            <td>{{port.name}}</td>
            <td class="result-metrics-wrapper">
                {{1}}V
            </td>
            <td class="result-metrics-wrapper">
                {{2}}V
            </td>
            <td class="result-visual-container">
                <img class="result-visual" ng-src="{{port.visualUrl}}"/>
            </td>
        </tr>
        </table>
    </div>
    <div ng-if="!ctrl.inspectedWire" class="no-inspectable-message">{{::ctrl.noInspectedMessage}}</div>
</div>
