<div class="analog-electronic-simulation-result-details">
    <div class="details-container" ng-if="ctrl.ports && ctrl.ports.length">
        <!-- <span class="result-detail-description">
        Results of SPICE simulation. Select wires and/or ports to display a plot of its signal data.
        </span> -->
        <div class="signal-table-container">
            <table class="signal-table">
                <thead><tr><th>Name</th><th>Min voltage</th><th>Max Voltage</th><th class="placeholder"></th></tr>
                </thead>
            <tr class="inspected-signal-row" ng-repeat="port in ctrl.ports">
                <td>{{port.name}}</td>
                <td class="result-metrics-wrapper">
                    {{port.minVoltage}}V
                </td>
                <td class="result-metrics-wrapper">
                    {{port.maxVoltage}}V
                </td>
                <td class="remove-inspected-container">
                    <md-button class="remove-inspected-button"
                               aria-label=""
                               ng-click="ctrl.removeSignal(this, $index)"
                               title="Remove">
                        <i class="fa fa-times icon-remove-sign"></i>
                    </md-button>
                </td>
            </tr>
            </table>
        </div>
        <div class="signal-viewer">
        <!--This ng-repeat should be temporary. Eventually there will only be one plot for all signals. -->
            <div class="result-visual-container" ng-repeat="port in ctrl.ports">
                <img class="result-visual" ng-src="{{port.visualUrl}}"/>
            </div>
        </div>
    </div>
    <div ng-if="!ctrl.ports || ctrl.ports.length === 0" class="no-inspectable-message">{{::ctrl.noInspectedMessage}}</div>
</div>
