<div class="analog-electronic-simulation-result-details">
    <div class="details-container" ng-show="ctrl.ports && ctrl.ports.length">
        <!-- <span class="result-detail-description">
        Results of SPICE simulation. Select wires and/or ports to display a plot of its signal data.
        </span> -->
        <div class="signal-table-container">
            <table class="signal-table">
                <thead><tr>
                    <th>Display</th>
                    <th>Name</th>
                    <th>Min Voltage</th>
                    <th>Max Voltage</th>
                    <th class="placeholder"></th></tr>
                </thead>
            <tr class="inspected-signal-row" ng-repeat="port in ctrl.ports">
                <td class="display-cell">
                    <md-checkbox class="hide-show-signal-box" aria-label=""
                                 ng-model="port.showSignal" ng-change="ctrl.updateVisualizer(port)"/>
                </td>
                <td>{{port.name}}</td>
                <td class="result-metrics-wrapper">
                    {{ctrl.getSIPrefixMetric(port.minVoltage)}}V
                </td>
                <td class="result-metrics-wrapper">
                    {{ctrl.getSIPrefixMetric(port.maxVoltage)}}V
                </td>
                <td class="pin-signal-container">
                    <md-button class="pin-signal-button"
                       id="{{$index}}"
                       aria-label=""
                       ng-click="ctrl.pinSignal(this, $index)"
                       title="Pin signal">
                        <i class="fa fa-thumb-tack icon-pin-signal" ng-style="{color: ctrl.getSeriesColor(port)}"></i>
                    </md-button>
                </td>
            </tr>
            </table>
        </div>
        <div class="signal-viewer">
        <!--This ng-repeat should be temporary. Eventually there will only be one plot for all signals. -->
            <!-- <div class="result-visual-container" ng-repeat="port in ctrl.ports" ng-if="port.showSignal">
                <img class="result-visual" ng-src="{{port.visualUrl}}"/>
            </div> -->
            <div id="spice-visualizer" class="spice-plot-placeholder" style="width:800px; height:500px;"></div>
        </div>
    </div>
    <div ng-show="!ctrl.ports || ctrl.ports.length === 0" class="no-inspectable-message">{{::ctrl.noInspectedMessage}}</div>
</div>
