<md-dialog
    class="testbench-result-dialog cost-estimation-result">
    <md-content>
        <div class="result-container">
            <div layout="column" flex="100">
                <div ng-if="result.config.properties.length">
                    <h3>Configuration:</h3>
                    <test-bench-config-properties config="::result.config" read-only="'true'"></test-bench-config-properties>
                </div>
                <div class="result-details-summary">
                    <label>Per design parts cost:</label>${{detailedCostEstimation.per_design_parts_cost}}
                </div>
            </div>
        </div>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <ul class="testbench-attachments-links">
            <li>
                <md-button class="md-raised md-primary"
                            target="_blank"
                           ng-href="{{jsonUrl}}"
                    ><i class="fa fa-cloud-download"></i> Detailed estimation</md-button>
            </li>
        </ul>

        <md-button ng-click="close()" class="md-primary toast-bttn">
            Close
        </md-button>
    </div>
</md-dialog>
