<md-dialog
    class="testbench-result-dialog place-and-route-result">
    <md-content>
        <div class="config-properties" ng-if="result.config.properties.length">
            <h3>Configuration:</h3>
            <ul>
                <li ng-repeat="prop in result.config.properties">
                    <label>{{prop.label}}:</label>{{prop.value}}
                </li>
            </ul>
        </div>
        <div class="result-container">
            <div layout="column" flex="100">
                <div class="testbench-visual-container">
                    <a ng-href="{{visualUrl}}" target="_blank" title="Open in new window">
                        <img class="testbench-visual" ng-src="{{visualUrl}}"/>
                    </a>
                </div>
            </div>
        </div>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <ul class="testbench-attachments-links">
            <li data-ng-repeat="attachment in attachments">
                <md-button class="md-raised md-primary"
                           ng-href="{{attachment.url}}"
                    ><i class="fa fa-cloud-download"></i> {{attachment.name}}</md-button>
            </li>
        </ul>

        <md-button ng-click="close()" class="md-primary toast-bttn">
            Close
        </md-button>
    </div>
</md-dialog>
