<div class="component-browser">
    <div ng-if="!initialized" class="text-center">
        <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
    </div>
    <div ng-show="initialized">
        <section class="header-part">
            <h2>Components <span class="grand-total" ng-if="::grandTotal">[{{::grandTotal}} total]</span></h2>
                <div class="component-search">
                    <!--<input class="component-search-input"></input>-->
                    <angucomplete-alt id="component-search-autocomplete"
                                  placeholder="Type '/' to search"
                                  pause="400"
                                  selected-object="componentSearchSelection"
                                  remote-url="{{::componentSearchUrl}}"
                                  remote-url-data-field="component"
                                  title-field="name"
                                  minlength="2"
                                  clear-selected="true"
                                  input-class="component-search-input"/>
                </div>
        </section>
        <tree-navigator ng-if="::treeNavigatorData.data.children" tree-data="treeNavigatorData.data" config="treeNavigatorData.config"></tree-navigator>
    </div>
</div>
