<div class="component-browser">
    <section class="header-part">
        <h2>Components <span class="grand-total" ng-if="::grandTotal">[{{::grandTotal}} total]</span></h2>
        <!--<md-progress-circular ng-if="!loaded" class="md-hue-2" md-mode="indeterminate"></md-progress-circular>-->
        <!--<script type="text/ng-template" id="componentDetails.html">-->
            <!--<component-details data-component-id="listData.items[$index].id"></component-details>-->
        <!--</script>-->
        <!--<tree-navigator tree-data="treeData" config="config"></tree-navigator>-->
        <!--<item-list list-data="listData" config="listConfig" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></item-list>-->
        <div class="component-search">
            <!--<input class="component-search-input"></input>-->
            <angucomplete-alt id="component-search-autocomplete"
                          placeholder="Type '/' to search"
                          pause="400"
                          selected-object="componentSearchSelection"
                          remote-url="{{::componentSearchUrl}}"
                          remote-url-data-field="component"
                          title-field="name"
                          minlength="2"
                          clear-selected="true"
                          input-class="component-search-input"/>
        </div>
    </section>
    <tree-navigator ng-if="::treeNavigatorData.data.children" tree-data="treeNavigatorData.data" config="treeNavigatorData.config"></tree-navigator>
</div>
