<div class="diagram-wire-inspector">
    <div ng-if="!ctrl.inspectableWireId" class="no-inspectable-message">{{::ctrl.config.noInspectableMessage}}</div>
    <div ng-if="ctrl.inspectableWireId">
    <div ng-if="ctrl.locked" class="inspectable-locked">
        <i class="fa fa-lock"></i>
    </div>
    <div ng-if="!ctrl.locked" class="inspectable-locked">
        <i class="fa fa-unlock"></i>
    </div>
    <div class="inspectable-name">
        Connection between:
    </div>
<!--     <div class="wire-id">
        {{ctrl.inspectableWireId}}
    </div>
 --> 

    <div class="component-a">
        <md-button md-no-ink class="md-primary button-bordered" ng-click="ctrl.selectComponent(ctrl.componentA.id)" title="Click to inspect"><i class="glyphicon glyphicon-share-alt"></i> {{ctrl.componentA.label}}</md-button>
        <div class="taxonomy-terms classification-tags">
            <div class="taxonomy-term" ng-repeat="term in ctrl.componentA.classificationTags" ng-class="term.id">{{::term.name}}</div>
        </div>        
        <div class="details">
            <div class="port-info"><label>Connector:</label> {{ctrl.componentA.portLabel}}</div>
        </div>
    </div>
     <div class="component-b">
        <md-button md-no-ink class="md-primary button-bordered" ng-click="ctrl.selectComponent(ctrl.componentB.id)" title="Click to inspect"><i class="glyphicon glyphicon-share-alt"></i> {{ctrl.componentB.label}}</md-button>
        <div class="taxonomy-terms classification-tags">
            <div class="taxonomy-term" ng-repeat="term in ctrl.componentB.classificationTags" ng-class="term.id">{{::term.name}}</div>
        </div>     
        <div class="details">
            <div class="port-info"><label>Connector:</label> {{ctrl.componentB.portLabel}}</div>        
        </div>
    </div> 
</div>
