<md-dialog class="keyboard-map-dialog">
    <h1 class="md-sticky-no-effect"> Design Editor Keyboard Map</h1>
    <md-list>
        <md-item ng-repeat="category in keyboardMap.categories">
            <md-item-content>
                <div class="md-tile-content">
                    <h3>{{category.title}} <span class="sub-title" ng-if="category.subTitle"> - {{category.subTitle}}</span></h3>

                    <div class="keyboard-actions">
                        <div ng-repeat="action in category.actions" class="keyboard-action">
                            <div class="keyboard-action-name">{{action.name}}</div>
                            <div class="keyboard-action-key">{{action.key}}</div>
                        </div>
                    </div>
                </div>
            </md-item-content>
            <md-divider ng-if="!$last"></md-divider>
        </md-item>
    </md-list>

</md-dialog>
