<g ng-attr-id="{{::component.id}}"
   class="symbol"
   ng-class="getCssClass()"
   ng-mouseup="onMouseUp($event)"
   ng-dblclick="onDoubleClick($event)"
   ng-mousedown="onMouseDown($event)"
   ng-attr-id="{{::component.id}}"
   ng-attr-transform="{{getSymbolTransform()}}"
    >
        <rect ng-attr-width="{{::getSymbolRectWidth()}}"
              ng-attr-height="{{getSymbolRectHeight()}}"
              transform="translate(-10,-10)"
              class="selected-symbol-boundary"></rect>
        <g class="symbol-placeholder"></g>
        <rect ng-attr-width="{{::getSymbolWidth()}}"
              ng-attr-height="{{getSymbolHeight()}}"
              class="symbol-area"></rect>
        <g class="zoom-2">
            <port
                ng-repeat="portInstance in component.portInstances"
                class="zoom-3"></port>
            <g class="component-label-wrapper">
              <text class="component-label" ng-attr-x="{{::component.symbol.labelPosition.x}}"
                    ng-attr-y="{{::component.symbol.labelPosition.y}}"
                    full-label="{{component.label}}"
                  >{{component.label}}
              </text>
            </g>
        </g>

</g>
