<g class="silhouette">
    <g>
        <path id="path5041" fill="none" stroke-linecap="round" stroke-linejoin="round" d="M25,75H0"/>
        <path id="path5043" fill="none" stroke-linecap="round" stroke-linejoin="round" d="M25,25H0"/>
        <path id="path9354" fill="none" stroke-linecap="round" stroke-linejoin="round" d="M25.021,75L25,5l90,45L25,95
            L25.021,75"/>
        <path id="path11146" fill="none" stroke-linecap="round" stroke-linejoin="round" d="M140,50h-25"/>
        <path id="path12035" fill="none" stroke-linecap="round" stroke-linejoin="round" d="M65,100V75"/>
        <path id="path12037" fill="none" stroke-linecap="round" stroke-linejoin="round" d="M65,25V0"/>
    </g>
    <line fill="none" stroke-linecap="round" stroke-linejoin="round" x1="31.167" y1="75" x2="42.167" y2="75"/>
    <g>
        <line fill="none" stroke-linecap="round" stroke-linejoin="round" x1="31.167" y1="25" x2="42.167" y2="25"/>
        <line fill="none" stroke-linecap="round" stroke-linejoin="round" x1="36.667" y1="30.5" x2="36.667" y2="19.5"/>
    </g>
</g>
