<article class="design-space-details">
<header>
    <h1 class="design-space-name">{{ name }}</h1>

    <div class="design-space-description">{{ description }}</div>

    <div data-ng-hide=" !desertInfo.status || desertInfo.status === 'LISTENING'" class="design-space-size">
        <h3>Design space size</h3>
        <ul>
            <li data-ng-show=" !desertInfo.constraints" class="size-status">Status: {{desertInfo.status}}</li>
            <li data-ng-repeat="(name, size) in desertInfo.constraints">{{name}} : {{size}}</li>
        </ul>
    </div>
</header>

<script type="text/ng-template"  id="tree_item_renderer.html">
    <input ng-if="containers[container.parentId].type === 'Alternative' || containers[container.parentId].type === 'Optional'" type="checkbox" ng-model="container.enabled"> {{container.name}} {{[container.type]}}
    <ul>
        <li data-ng-repeat="container in container.containers | orderObjectBy: 'name'" ng-include="'tree_item_renderer.html'">
        </li>
        <li ng-hide="hideCompoundComponents && container.type === 'Compound'" data-ng-repeat="component in container.components | orderObjectBy: 'name'">
            <input ng-if="container.type === 'Alternative' || container.type === 'Optional'" type="checkbox" ng-model="component.enabled">
            {{component.name}}
        </li>
        <li ng-if="container.type === 'Optional'"><input type="checkbox" ng-model="component.enabled">null</li>
    </ul>
</script>

<div class="row">
<div class="design-space col-lg-8 col-md-12 col-sm-24 col-xs-24">
    <h4>Sub Systems</h4>
    <ul>
        <li ng-repeat="container in rootNode" ng-include="'tree_item_renderer.html'"></li>
    </ul>
    <!--<ul class="list-group">-->
        <!--&lt;!&ndash; One container item &ndash;&gt;-->
        <!--<li class="list-group-item" data-ng-repeat="container in containers | orderObjectBy: 'id'" data-id="{{ container.id }}">-->

            <!--&lt;!&ndash; Header &ndash;&gt;-->
            <!--<a class="container-name" href="">{{ container.name }}</a>-->
            <!--<div>Type: {{container.type}}</div>-->
            <!--<div>Number of Components: {{container.componentsCount}}</div>-->
            <!--<div>Number of Containers: {{container.containersCount}}</div>-->

            <!--<div>{{ container.description }}</div>-->

            <!--<div>Updated <span am-time-ago="container.date"></span></div>-->
        <!--</li>-->
    <!--</ul>-->
</div>

<div class="components col-lg-4 col-md-6 col-sm-12 col-xs-12">

        <h4>Used Components</h4>

        <ul class="list-group">
            <!-- One container item -->
            <li class="list-group-item" data-ng-repeat="component in components | orderObjectBy: 'name'" data-id="{{ component.id }}">

                <!-- Header -->
                <a class="component-name" href="">{{ component.name }}</a>
                <div>AVMID: {{component.avmId}}</div>
                <!--<div>{{ component.description }}</div>-->

                <!--<div>Updated <span am-time-ago="component.date"></span></div>-->
            </li>
        </ul>
</div>

</div>
</article>