.diagram-container{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  border: 1px solid #C9DEE4;
}

.panzoom-widget {
  position: absolute;
  z-index: 1;
  left: 5px;
  top: 25px;
  opacity: .5;
}

.panzoom-widget:hover {
  opacity: 1;
}

.canvas-zoomer {
  width: 10000px;
  height: 10000px;
}

.zoom-level-0,
.zoom-level-1
{
  .zoom-2,
  .zoom-3 {
    display: none;
  }
}

.zoom-level-0,
.zoom-level-1,
.zoom-level-2
{
  .zoom-3 {
    display: none;
  }
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}