@import '../../../styles/colors';

.main-navigator-container {
    .dropdown-navigator {

        overflow: visible;
        padding-bottom: 2px;
        margin-bottom: 0;

        background-color: $c-background-dark;

        color: #f0f0f0;

        > li {

            padding: 0 0;
            transition: background-color 200ms;
            
            font-size: 105%;

            .label-container {
                padding: .5ex .5ex;
            }

            .item-label {
                color: #fff;
            }
        }

        > li:not(.separator):not(.cyphy-root):hover {
            background-color: darken( $c-background-dark, 10% );
        }

        li.cyphy-root {

            background-color: darken( $c-background-dark, 5% );

            .label-container {
                background-image: url(../images/mms-icon-bright.png);
                background-position: 8px 10px;
                background-repeat: no-repeat;

                padding-left: 46px;

                .item-label {
                    display: inline-block;
                    height: 1em;
                    font-style: italic;
                }

            }

            &:hover {
                background-color: darken( $c-background-dark, 13% );
            }

        }
    }
}
