article.workers {
  margin: 1em;
  padding: 0 1em 1em;
  min-width: 500px; }
  article.workers .stats {
    position: absolute;
    bottom: 0;
    right: 0.4ex;
    font-size: 88%; }
    article.workers .stats li.list-group-item {
      border: none;
      background-color: transparent;
      opacity: .92;
      padding: 1ex .2ex; }
    article.workers .stats .count {
      margin-left: 0.5ex; }
  article.workers .cyphy-tag {
    display: inline-block;
    font-weight: 500;
    font-size: 75%;
    padding: 0.6ex;
    border-radius: 0ex; }
    article.workers .cyphy-tag.dark-blue {
      color: #FFF;
      background-color: #407DD9; }
      article.workers .cyphy-tag.dark-blue:hover {
        background-color: #0052CC; }
    article.workers .cyphy-tag.green {
      color: #FFF;
      background-color: #40B240; }
      article.workers .cyphy-tag.green:hover {
        background-color: #009800; }
    article.workers .cyphy-tag.orange {
      color: #000;
      background-color: #F08B58; }
      article.workers .cyphy-tag.orange:hover {
        background-color: #EB6420; }
    article.workers .cyphy-tag.yellow {
      color: #000;
      background-color: #FCD743; }
      article.workers .cyphy-tag.yellow:hover {
        background-color: #FBCA04; }
    article.workers .cyphy-tag.purple {
      color: #FFF;
      background-color: #7E52ED; }
      article.workers .cyphy-tag.purple:hover {
        background-color: #5319E7; }
    article.workers .cyphy-tag.gray {
      color: #000;
      background-color: #E5E5E5; }
      article.workers .cyphy-tag.gray:hover {
        background-color: #B7B7B7; }
